%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.fixed.icon.floating-back-arrow{'ng-click' => "goBack()"}

.ui-phone
  .bg-shader.bg-scroller.signin-wrapper{'ng-class' => "::userSettings.color.name"}
    .logo
      %img{src: "/images/unii-icons/misc/unii-logo-white.png", width: "125"}

    .errors
      .server-errors
        .error{'ng-repeat' => 'error in errors'}
          {{error.message}}

    .success{'ng-if' => "success"}
      .text.uc-text {[= message_success_body ]}

    %feedback-form
