%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.unii-slideshow{'data-unii-slideshow' => true, 'ng-class' => "::userSettings.color.name"}

  %unii-header.flex-row.unii-header
    .col.left.floating-back-arrow.icon{'ng-click' => "goBack()"}
    .col.center
    .col.right

  .slides-window.flex-row

    #slides.slides
      .slide{'data-unii-image' => true}
      .slide{'ng-repeat' => "slide in slides", 'data-unii-image' => true, image: "::slide", format: 'original', id: "slide_{{$index}}", 'ng-swipe-left' => "slide_images_left()", 'ng-swipe-right' => "slide_images_right()"}

  .slide-controls.flex-row
    .range-slider
      %p.text{'ng-click' => "view_images()", 'ng-hide' => "initialLoad"}
        {[= slideshow_body.replace('%{photo}', '{{viewing}}').replace('%{total}', '{{total_slides}}') ]}
                
      .spinner.white{'ng-show' => "initialLoad", 'style' => "width:14px; height:14px; margin: 0 auto;"}


      .selector{}
        .range
        #token.token.uc-token
    .actions
