%no-internet{'fixed' => 'true', 'neutral' => 'false'}

%unii-header.white.fixed
  .col.left.back-arrow-black.icon{'ng-click' => "goBack()"}
  .col.center {[= photos_nav ]}
  .col.right

.photos.group{'infinite-scroll' => "paginateImages()", 'infinite-scroll-distance' => '2', 'infinite-scroll-immediate-check' => 'false', 'infinite-scroll-disabled' => "loadingImages || endImages"}
  
  .image-thumb{'ng-repeat' => "image in images", class: "thumb-{{$index}}", 'data-unii-image' => true, image: "image", format: 'grid', 'ng-click' => "viewSlide($index)", "in-view" => "thumbInView({index: $index, inview: $inview})"}
    .dummy

  -# no images
  .no-images{'ng-if' => "noImages"}
    .graphic
      %img{src: '/images/unii-icons/misc/no-photos-graphic.png', width: "70%;"}
    .text{'ng-if' => 'profile.id == userSettings.id'} {[= photos_empty_title ]}
    .text{'ng-if' => 'profile.id != userSettings.id'}
      {[= photos_empty_other_title.replace('%{name}', '{{ ::profile.first_name }}') ]}

.loading{'ng-show' => "loadingImages", style: "text-align: center;margin: 10px 0;"}
  .spinner{style: "color:white;"}
    %img{src: "/images/unii-icons/misc/loading-spokes-white.svg", width: 20}

.end-pagination{style: "color:white;text-align:center;padding:25px 0;"}


.no-content-btn-section.fixed{'ng-if' => "noImages && profile.id == userSettings.id"}
  .text {[= post_first_photo_title ]}
  .icons
    .icon.sketch-arrow
    .icon.db-compose{'ng-click' => "writePost()"}
