html, body{
  width: 100%;
  height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, p, li{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
