@import "shared/components";

$user_blue:   #60c9f8;
$user_green:  #5bffc6;
$user_orange: #fe9526;
$user_purple: #cb49cb;
$user_red:    #fe4444;
$user_yellow: #ffcb2f;

@mixin unii_icon($color, $name) {
  background-image: image-url("unii-icons/#{$color}/#{$name}.png");
}

/*
* BLUE
*/

.blue{

  .uc-text{
    color: $user_blue;
  }
  .uc-gradient{
    @include blue_gradient;
  }
  .uc-background{
    background-color: $user_blue;
  }
  .uc-token{
    border-top-color: $user_blue;
  }
  .uc-fill{
    fill: $user_blue;
  }
  #current-dot.dot{
    background-color: $user_blue !important;
  }
  .notification.unviewed{
    border-left-color: $user_blue;
  }

  /*
  * ICONS
  */
  .icon{
    &.small-star{
      @include unii_icon('blue', 'small-star');
    }
    &.star{
      &.favourited{
        @include unii_icon('blue', 'star');
      }
    }
    &.keyboard{
      &.selected{
        @include unii_icon('blue', 'keyboard');
      }
    }
    &.medias{
      &.selected{
        @include unii_icon('blue', 'gallery');
      }
    }
    &.activity-comment{
      @include unii_icon('blue', 'comment');
    }
    &.user-photos{
      @include unii_icon('blue', 'photos');
    }
    &.settings{
      @include unii_icon('blue', 'settings');
    }
    &.user-block{
      &.selected{
        @include unii_icon('blue', 'user-block');
      }
    }
    &.user-mute{
      &.selected{
        @include unii_icon('blue', 'user-mute');
      }
    }
    &.user{
      @include unii_icon('blue', 'user');
      background-size: auto 22px;
    }
    &.email{
      @include unii_icon('blue', 'email');
    }
    &.lock{
      @include unii_icon('blue', 'lock');
      background-size: auto 22px;
    }
    &.book{
      @include unii_icon('blue', 'book');
    }
    &.gender{
      @include unii_icon('blue', 'gender');
      background-size: auto 22px;
    }
    &.folder{
      @include unii_icon('blue', 'folder');
      background-size: auto 22px;
    }
    &.chevron{
      @include unii_icon('blue', 'chevron');
      background-size: auto 14px;
    }
  }
}


/*
* GREEN
*/

.green{

  .uc-text{
    color: $user_green;
  }
  .uc-gradient{
    @include green_gradient;
  }
  .uc-background{
    background-color: $user_green;
  }
  .uc-token{
    border-top-color: $user_green;
  }
  .uc-fill{
    fill: $user_green;
  }
  #current-dot.dot{
    background-color: $user_green !important;
  }
  .notification.unviewed{
    border-left-color: $user_green;
  }

  /*
  * ICONS
  */
  .icon{
    &.small-star{
      @include unii_icon('green', 'small-star');
    }
    &.star{
      &.favourited{
        @include unii_icon('green', 'star');
      }
    }
    &.keyboard{
      &.selected{
        @include unii_icon('green', 'keyboard');
      }
    }
    &.medias{
      &.selected{
        @include unii_icon('green', 'gallery');
      }
    }
    &.activity-comment{
      @include unii_icon('green', 'comment');
    }
    &.user-photos{
      @include unii_icon('green', 'photos');
    }
    &.settings{
      @include unii_icon('green', 'settings');
    }
    &.user-block{
      &.selected{
        @include unii_icon('green', 'user-block');
      }
    }
    &.user-mute{
      &.selected{
        @include unii_icon('green', 'user-mute');
      }
    }
    &.user{
      @include unii_icon('green', 'user');
      background-size: auto 22px;
    }
    &.email{
      @include unii_icon('green', 'email');
    }
    &.lock{
      @include unii_icon('green', 'lock');
      background-size: auto 22px;
    }
    &.book{
      @include unii_icon('green', 'book');
    }
    &.gender{
      @include unii_icon('green', 'gender');
      background-size: auto 22px;
    }
    &.folder{
      @include unii_icon('green', 'folder');
      background-size: auto 22px;
    }
    &.chevron{
      @include unii_icon('green', 'chevron');
      background-size: auto 14px;
    }
  }
}


/*
* ORANGE
*/

.orange{

  .uc-text{
    color: $user_orange;
  }
  .uc-gradient{
    @include orange_gradient;
  }
  .uc-background{
    background-color: $user_orange;
  }
  .uc-token{
    border-top-color: $user_orange;
  }
  .uc-fill{
    fill: $user_orange;
  }
  #current-dot.dot{
    background-color: $user_orange !important;
  }
  .notification.unviewed{
    border-left-color: $user_orange;
  }

  /*
  * ICONS
  */
  .icon{
    &.small-star{
      @include unii_icon('orange', 'small-star');
    }
    &.star{
      &.favourited{
        @include unii_icon('orange', 'star');
      }
    }
    &.keyboard{
      &.selected{
        @include unii_icon('orange', 'keyboard');
      }
    }
    &.medias{
      &.selected{
        @include unii_icon('orange', 'gallery');
      }
    }
    &.activity-comment{
      @include unii_icon('orange', 'comment');
    }
    &.user-photos{
      @include unii_icon('orange', 'photos');
    }
    &.settings{
      @include unii_icon('orange', 'settings');
    }
    &.user-block{
      &.selected{
        @include unii_icon('orange', 'user-block');
      }
    }
    &.user-mute{
      &.selected{
        @include unii_icon('orange', 'user-mute');
      }
    }
    &.user{
      @include unii_icon('orange', 'user');
      background-size: auto 22px;
    }
    &.email{
      @include unii_icon('orange', 'email');
    }
    &.lock{
      @include unii_icon('orange', 'lock');
      background-size: auto 22px;
    }
    &.book{
      @include unii_icon('orange', 'book');
    }
    &.gender{
      @include unii_icon('orange', 'gender');
      background-size: auto 22px;
    }
    &.folder{
      @include unii_icon('orange', 'folder');
      background-size: auto 22px;
    }
    &.chevron{
      @include unii_icon('orange', 'chevron');
      background-size: auto 14px;
    }
  }
}


/*
* PURPLE
*/

.purple{

  .uc-text{
    color: $user_purple;
  }
  .uc-gradient{
    @include purple_gradient;
  }
  .uc-background{
    background-color: $user_purple;
  }
  .uc-token{
    border-top-color: $user_purple;
  }
  .uc-fill{
    fill: $user_purple;
  }
  #current-dot.dot{
    background-color: $user_purple !important;
  }
  .notification.unviewed{
    border-left-color: $user_purple;
  }

  /*
  * ICONS
  */
  .icon{
    &.small-star{
      @include unii_icon('purple', 'small-star');
    }
    &.star{
      &.favourited{
        @include unii_icon('purple', 'star');
      }
    }
    &.keyboard{
      &.selected{
        @include unii_icon('purple', 'keyboard');
      }
    }
    &.medias{
      &.selected{
        @include unii_icon('purple', 'gallery');
      }
    }
    &.activity-comment{
      @include unii_icon('purple', 'comment');
    }
    &.user-photos{
      @include unii_icon('purple', 'photos');
    }
    &.settings{
      @include unii_icon('purple', 'settings');
    }
    &.user-block{
      &.selected{
        @include unii_icon('purple', 'user-block');
      }
    }
    &.user-mute{
      &.selected{
        @include unii_icon('purple', 'user-mute');
      }
    }
    &.user{
      @include unii_icon('purple', 'user');
      background-size: auto 22px;
    }
    &.email{
      @include unii_icon('purple', 'email');
    }
    &.lock{
      @include unii_icon('purple', 'lock');
      background-size: auto 22px;
    }
    &.book{
      @include unii_icon('purple', 'book');
    }
    &.gender{
      @include unii_icon('purple', 'gender');
      background-size: auto 22px;
    }
    &.folder{
      @include unii_icon('purple', 'folder');
      background-size: auto 22px;
    }
    &.chevron{
      @include unii_icon('purple', 'chevron');
      background-size: auto 14px;
    }
  }
}



/*
* RED
*/

.red{

  .uc-text{
    color: $user_red;
  }
  .uc-gradient{
    @include red_gradient;
  }
  .uc-background{
    background-color: $user_red;
  }
  .uc-token{
    border-top-color: $user_red;
  }
  .uc-fill{
    fill: $user_red;
  }
  #current-dot.dot{
    background-color: $user_red !important;
  }
  .notification.unviewed{
    border-left-color: $user_red;
  }

  /*
  * ICONS
  */
  .icon{
    &.small-star{
      @include unii_icon('red', 'small-star');
    }
    &.star{
      &.favourited{
        @include unii_icon('red', 'star');
      }
    }
    &.keyboard{
      &.selected{
        @include unii_icon('red', 'keyboard');
      }
    }
    &.medias{
      &.selected{
        @include unii_icon('red', 'gallery');
      }
    }
    &.activity-comment{
      @include unii_icon('red', 'comment');
    }
    &.user-photos{
      @include unii_icon('red', 'photos');
    }
    &.settings{
      @include unii_icon('red', 'settings');
    }
    &.user-block{
      &.selected{
        @include unii_icon('red', 'user-block');
      }
    }
    &.user-mute{
      &.selected{
        @include unii_icon('red', 'user-mute');
      }
    }
    &.user{
      @include unii_icon('red', 'user');
      background-size: auto 22px;
    }
    &.email{
      @include unii_icon('red', 'email');
    }
    &.lock{
      @include unii_icon('red', 'lock');
      background-size: auto 22px;
    }
    &.book{
      @include unii_icon('red', 'book');
    }
    &.gender{
      @include unii_icon('red', 'gender');
      background-size: auto 22px;
    }
    &.folder{
      @include unii_icon('red', 'folder');
      background-size: auto 22px;
    }
    &.chevron{
      @include unii_icon('red', 'chevron');
      background-size: auto 14px;
    }
  }
}



/*
* YELLOW
*/

.yellow{

  .uc-text{
    color: $user_yellow;
  }
  .uc-gradient{
    @include yellow_gradient;
  }
  .uc-background{
    background-color: $user_yellow;
  }
  .uc-token{
    border-top-color: $user_yellow;
  }
  .uc-fill{
    fill: $user_yellow;
  }
  #current-dot.dot{
    background-color: $user_yellow !important;
  }
  .notification.unviewed{
    border-left-color: $user_yellow;
  }

  /*
  * ICONS
  */
  .icon{
    &.small-star{
      @include unii_icon('yellow', 'small-star');
    }
    &.star{
      &.favourited{
        @include unii_icon('yellow', 'star');
      }
    }
    &.keyboard{
      &.selected{
        @include unii_icon('yellow', 'keyboard');
      }
    }
    &.medias{
      &.selected{
        @include unii_icon('yellow', 'gallery');
      }
    }
    &.activity-comment{
      @include unii_icon('yellow', 'comment');
    }
    &.user-photos{
      @include unii_icon('yellow', 'photos');
    }
    &.settings{
      @include unii_icon('yellow', 'settings');
    }
    &.user-block{
      &.selected{
        @include unii_icon('yellow', 'user-block');
      }
    }
    &.user-mute{
      &.selected{
        @include unii_icon('yellow', 'user-mute');
      }
    }
    &.user{
      @include unii_icon('yellow', 'user');
      background-size: auto 22px;
    }
    &.email{
      @include unii_icon('yellow', 'email');
    }
    &.lock{
      @include unii_icon('yellow', 'lock');
      background-size: auto 22px;
    }
    &.book{
      @include unii_icon('yellow', 'book');
    }
    &.gender{
      @include unii_icon('yellow', 'gender');
      background-size: auto 22px;
    }
    &.folder{
      @include unii_icon('yellow', 'folder');
      background-size: auto 22px;
    }
    &.chevron{
      @include unii_icon('yellow', 'chevron');
      background-size: auto 14px;
    }
  }
}

/* 
* BLACK & WHITE ICONS
*/

.black{
  &.comment{
    background-image: image-url("unii-icons/misc/comment-icon-black.png");
  }
  &.post-menu{
    background-image: image-url("unii-icons/misc/menu-icon-black.png");
  }
}

.white{
  &.comment{
    background-image: image-url("unii-icons/misc/comment-icon-white.png");
  }
  &.post-menu{
    background-image: image-url("unii-icons/misc/menu-icon-white.png");
  }
}

.icon{
  &.star{
    background-image: image-url("unii-icons/misc/star-white.png");
    &.gallery{
      background-image: image-url("unii-icons/misc/star-black.png");
    }
    &.favourited.status_update{
      background-image: image-url("unii-icons/misc/star-black.png");
    }
  }
  &.small-star.unfavourited{
    background-image: image-url("unii-icons/misc/small-star-white.png");
  }
  &.user-block{
    background-image: image-url("unii-icons/misc/userminus.png");
  }
  &.user-mute{
    background-image: image-url("unii-icons/misc/megaphoneminus.png");
  }
}

