
// Fonts
$font-regular: "AvenirNext-Regular", sans-serif;
$font-bold: "AvenirNext-Bold", sans-serif;
$font-demi: "AvenirNext-Demi", sans-serif;
$font-medium: "AvenirNext-Medium", sans-serif;
$font-light: "AvenirNext-Light", sans-serif;
$font-block: "alternate-gothic-no-2-d";

$image-placeholder: image-url("unii-icons/misc/image-placeholder.png");
$default-avatar: image-url("unii-icons/misc/default-avatar.jpg");
$default-avatar-profile: image-url("unii-icons/misc/empty-avatar-bg.png");
$header-height: 44px;
