@import "shared/variables";

.ui-phone{
  .image {
    &.bg-dynamic {
      background-position: center;
      background-size: cover;
      background-image: $image-placeholder;
      color: white;
    }
  }
  .blurred-controls{
    width: 100%;
    height: 44px;
    position: relative;

    .blur-bg{
      height: 100%;
      background-size: 100% auto !important;
      background-position: center center !important;
      -webkit-filter: blur(10px);

      &.versions{
        background-size: 100% 100% !important;
        background-position: center auto !important;
        -webkit-filter: blur(0);
      }
    }
  }

  .album-controls{
    position: absolute !important;
    color: black !important;
    background: rgba(255,255,255,.2);
    z-index: 10;
    .card-link, .share-button, .favourites-btn{
      color: black !important;
      z-index: 11;
    }
  }

  .albums{
    // height: calc(100% - 55px);
    overflow: hidden;
    width: 100%;
    display: -webkit-flex;
    display: flex;

    &.bg-dynamic {
      background-position: center;
      color:white;
    }

    .image{

      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 2px !important;
      .background-image{
        width: 100%;
        height: 100%;
        padding: 0px !important;
        .photo{
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          &.bg-dynamic {
            background-image: $image-placeholder;
          }
        }
      }
    }
  }

  /*
  * 2 Image Album
  */

  .albums-2{
    -webkit-flex-direction: column;
    flex-direction: column;
    .image{
      min-width: 100%;
      height: 50%;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }
    .image-1{
      .background-image{
        padding-bottom: 2px;
      }
    }
    .image-2{
      .background-image{
        padding-top: 2px;
      }
    }
  }

  /*
  * 3 Image Album
  */

  .albums-3{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    .image-1{
      height: 66.6%;
      width: 100%;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      .background-image{
        padding-bottom: 2px;
      }
    }
    .image-2, .image-3{
      height: 33.3%;
      width: 50%;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }
    .image-3{
      .background-image{
        padding-left: 2px;
        padding-top: 2px;
      }
    }
    .image-2{
      .background-image{
        padding-right: 2px;
        padding-top: 2px;
      }
    }
  }

  /*
  * 4 Image Album
  */

  .albums-4{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .image{
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }
    .image-1{
      height: 100%;
      width: 66.6%;
      padding-right: 2px;
    }
    .image-2, .image-3, .image-4{
      height: 33.3%;
      width: 33.3%;
      padding-left: 2px
    }
    .image-2, .image-3{
      padding-bottom: 4px;
    }
  }

  /*
  * 5 Image Album
  */

  .albums-5{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .image{
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }
    .image-1{
      height: 66.6%;
      width: 66.6%;
      padding-right: 2px;
      padding-bottom: 2px;
    }
    .image-2{
      width: 66.6%;
      height: 33.3%;
      padding-right: 2px;
      padding-top: 2px;
    }
    .image-3, .image-4, .image-5{
      width: 33.3%;
      height: 33.3%;
      padding-left: 2px;
    }
    .image-3, .image-4{
      padding-bottom: 2px;
    }
    .image-4, .image-5{
      padding-top: 2px;
    }
  }

  /*
  * 6 Image Album
  */

  .albums-6{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .top-section{
      height: 33.3%;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      .image-1, .image-2, .image-3{
        height: 100%;
        width: 33.3%;
        padding-bottom: 2px;
      }
      .image-1, .image-2{
        padding-right: 2px;
      }
      .image-2, .image-3{
        padding-left: 2px;
      }
    }
    .bottom-section{
      height: 66.6%;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      .image-4, .image-5{
        height: 50%;
        width: 33.3%;
        padding-right: 2px;
        padding-top: 2px;
      }
      .image-6{
        width: 66.6%;
        height: 100%;
        padding-top: 2px;
        padding-left: 2px;
      }
      .image-4{
        padding-bottom: 2px;
      }

    }
    .image{
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }

  /*
  * 7 Image Album
  */

  .albums-7{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;

    .image-1, .image-7{
      width: 33.3%;
      height: 66.6%;
    }
    .image-2, .image-3, .image-4, .image-5, .image-6{
      width: 33.3%;
      height: 33.3%;
    }
    .image-1, .image-2, .image-3, .image-4, .image-5{
      padding-right: 2px;
    }
    .image-1, .image-3, .image-4, .image-6{
      padding-bottom: 2px;
    }
    .image-2, .image-4, .image-5, .image-7{
      padding-top: 2px;
    }
    .image-3, .image-4, .image-5, .image-6, .image-7{
      padding-left: 2px;
    }
  }

  /*
  * 8 Image Album
  */

  .albums-8{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .image{
      width: 33.3%;
      height: 33.3%;
    }

    .image-1{
      height: 66.6%;
    }
    .image-1, .image-2, .image-3, .image-4, .image-5{
      padding-right: 2px;
    }
    .image-1, .image-3, .image-4, .image-6, .image-7{
      padding-bottom: 2px;
    }
    .image-2, .image-4, .image-5, .image-7, .image-8{
      padding-top: 2px;
    }
    .image-3, .image-4, .image-5, .image-6, .image-7, .image-8{
      padding-left: 2px;
    }
  }

  /*
  * 9 or more Image Album
  */

  .albums-9{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    .image{
      width: 33.3%;
      height: 33.3%;
    }
    .image-1, .image-2, .image-4, .image-5, .image-7, .image-8{
      padding-right: 2px;
    }
    .image-1, .image-2, .image-3, .image-4, .image-5, .image-6{
      padding-bottom: 2px;
    }
    .image-4, .image-5, .image-6, .image-7, .image-8, .image-9{
      padding-top: 2px;
    }
    .image-2, .image-3, .image-5, .image-6, .image-8, .image-9{
      padding-left: 2px;
    }
  }
}