
/*
 @cards in feed
*/

.card.ng-enter, .message.ng-enter, .comment-row.ng-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -ms-transition: 1s linear all; /* IE10 */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
.card.ng-enter-active, .message.ng-enter-active, .comment-row.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}

