.docs-wrapper{
  max-width: 800px;
  background: rgb(240,240,240);
  margin: 10px 44px;
  padding: 20px;
  border-radius: 20px;
}

.docs-form{
  width: 90%;
  max-width: 700px;
  padding: 40px;
  margin: 0 auto;

  .actions{
    margin-top: 30px;
  }
}

h1.docs-title{
    text-align: center;
}