@import "shared/variables";
@import "shared/components";
@import "shared/colors";

.ui-phone{

  .new-notifications{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: relative;
    top: 25px;
    right: -35px;
  }

  .progress{
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: $whitesmoke;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }

  .progress-bar{
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: white;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }

  .db-compose{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
    z-index: 99;
    background-size: auto 100%;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform:    translate3d(0,0,0);
    transform:         translate3d(0,0,0);
    background: none;
    background-size: auto 100%;
    border: none;
    &[disabled=disabled]{
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: image-url('unii-icons/misc/dollar-compose-disabled.png');
    }
    &.hide-icon{
      -webkit-transform: translate3d(0, 100px,0);
      -moz-transform:    translate3d(0, 100px,0);
      transform:         translate3d(0, 100px,0);
    }
  }

  .loading-posts{
    height: 80px;
  }

  .end-feed{
    color: white;
    text-align: center;
    margin: 20px 0;
  }

  .feed-page-loader{
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 25;
    &.hidden{
      visibility: hidden;
    }
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  /*
  * Card header
  */

  .card-header{
    @include flex_container;
    @include flex_align_items(center);
    height: 73px;
    background: black;
    padding: 0 4px;
    position: relative;
    .timestamp{
      position: absolute;
      right: 10px;
      top: 8px;
      font-family: $font-regular;
      font-size: 10px;
      color: #969696;
    }
    .avatar-col{
      max-height: 52px;
      width: 60px;
      @include flex_item(0, 0, 60px);
    }
    .content-col{
      @include flex_item(1, 1, auto);
      .name{
        font-family: $font-bold;
        font-size: 15px;
        line-height: 15px;
      }
      .text{
        font-family: $font-regular;
        font-size: 12px;
        line-height: 12px;
        color: white;
        padding: 0;
        .truncate-see-more{
          font-family: $font-bold;
        }
      }
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;

      border-top: 15px solid #000;
      position: absolute;
      bottom: -15px;
      // left: 48%; /* Fallback for browsers that don't support calc */
      left: 50%;
      margin-left: -20px;
      z-index: 20;
    }
  }

  /*
  * Status Update Cards
  */

  .status{
    color: black;
    height: 170px;
    position: relative;
    .flex-status-text{
      @include flex_container;
      @include flex_align_items(center);
      @include flex_justify_content(center);
      height: 115px;
      padding-top: 25px;
      padding-bottom: 0;
      .flex-item{
        width: 100%;
        padding: 0 15px;
        @include flex_item(0, 0, auto);
        font-family: $font-medium;
        font-size: 15px;
        text-align: center;
      }
    }

  }

  /*
  * Card Controls
  */

  .post-controls-flex{
    @include flex_container;
    height: 44px;
    width: 100%;
    padding: 0 3px;
    font-family: $font-regular;
    font-size: 14px;
    &.black{
      color: black;
    }
    &.white{
      color: white;
    }
    .col{
      @include flex_item(1, 1, auto);
      span.count{
        position: relative;
        top: 13px;
        font-size: 14px;
        &.number{
          top: 15px;
        }
      }
      &.comments{
        padding-left: 1px;
      }
      &.favourites{
        padding-left: 13px;
        .count{
          font-size: 9px;
          font-family: $font-medium;
          &.bold{
            font-family: $font-bold;
          }
        }
      }
      &.like, &.comments, &.actions{
        max-width: 53px;
        width: 53px;
      }
      &.actions{
        height: 100%;
      }
      .dots{
        width: 20px;
        height: 100%;
        position: relative;
        left: 10px;
      }
      &.like, &.comments{
        @include flex_container;
        span{
          @include flex_item(0, 1, auto);
          &.icon{
            width: 20px;
            background-size: 17px auto !important;
          }
          &.count{
            text-align: left;
            padding-left: 2px;
          }
        }
      }
    }
  }
}