@import "shared/colors";
@import "shared/variables";

.ui-phone{

  .sign-in{
    text-align: center;
    width: 100%;
    margin: 20px 0;
    a{
      color: white;
      display: block;
      text-decoration: underline;
      line-height: 30px;
      text-align: center;
    }
    .sign-up-btn{
      span.text{
        color: white;
        text-decoration: underline;
      }
    }
    .left-arrow{
      position: relative;
      top: 6px;
      width: 10px;
      height: 20px;
      display: inline-block;
      background-image: url('/assets/unii-icons/misc/chevron-left-white.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 12px;
      margin-right: 1px;
    }
    .right-arrow{
      position: relative;
      top: 6px;
      width: 10px;
      height: 20px;
      display: inline-block;
      background-image: image-url('unii-icons/misc/chevron-right-white.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 12px;
      margin-left: 1px;
    }
  }

  .intro{
    .bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      transition: opacity .5s ease-out;

      &.fade{
        opacity: 0;
      }

      &.bg-1{
        z-index: 5;
        &.normal{
          background-image: image-url('intro/normal/photo1.jpg');
        }
        &.retina{
          background-image: image-url('intro/retina/photo1.jpg');
        }
      }
      &.bg-2{
        z-index: 4;
        &.normal{
          background-image: image-url('intro/normal/photo2.jpg');
        }
        &.retina{
          background-image: image-url('intro/retina/photo2.jpg');
        }
      }
      &.bg-3{
        z-index: 3;
        &.normal{
          background-image: image-url('intro/normal/photo3.jpg');
        }
        &.retina{
          background-image: image-url('intro/retina/photo3.jpg');
        }
      }
      &.bg-4{
        z-index: 2;
        &.normal{
          background-image: image-url('intro/normal/photo4.jpg');
        }
        &.retina{
          background-image: image-url('intro/retina/photo4.jpg');
        }
      }
    }
    .content{
      height: 100%;
      width: 100%;
      z-index: 100;
      .shadow{
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        background: rgba(0,0,0,.2);
        padding-top: 25px;
        text-align: center;
        overflow-y: scroll;

        @media (min-height: 485px){
          padding-top: 75px;
        }
        .slide-indicator{
          list-style-type: none;
          margin: 25px 0;
          li{
            width: 8pt;
            height: 8pt;
            border-radius: 5px;
            background: rgba(255,255,255,.2);
            display: inline-block;
            margin: 0 1px;
            &.active.green{
              background: $user_green;
            }
            &.active.yellow{
              background: $user_yellow;
            }
            &.active.blue{
              background: $user_blue;
            }
            &.active.red{
              background: $user_red;
            }
          }
        }
        .register{
          padding: 22px;
          position: absolute;
          bottom: 0;
          width: 100%;
          .button{
            &.green{
              background: $user_green;
            }
            &.yellow{
              background: $user_yellow;
            }
            &.blue{
              background: $user_blue;
            }
            &.red{
              background: $user_red;
            }
          }
        }
        .logo{
          height: 25%;
          min-height: 50px;
          max-height: 95px;
          background-image: image-url('unii-icons/misc/logo.png');
          background-size: auto 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        .text-slider{
          /* overflow: scroll; */
          ul.slides{
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 150px;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            &.transition{
              -webkit-transition: all .5s ease-out;
              -moz-transition: all .5s ease-out;
              transition: all .5s ease-out;
            }

            .slide{
              float: left;
              text-align: center;
              color: white;
              font-family: $font_regular;
              font-size: 20px;
              padding: 20px;
              span{
                font-family: $font-bold;
              }
            }
          }
        }
      }
    }
    width: 100%;
    height: 100%;
    position: relative;

  }
}

/*
* WebKit Keyframes
*/

@-webkit-keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
