@import "shared/variables";
@import "shared/components";

.no-activity{
  .graphic{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 86px;
  }
  .text{
    text-align: center;
    color: white;
    margin-top: 23px;
    padding: 0 10px;
    .header{
      font-size: 18px;
      font-weight: normal;
      font-family: $font-demi;
      padding: 0 60px;
    }
    .subtext{
      margin-top: 13px;
      font-size: 13px;
      padding: 0 30px;
      line-height: 18px;
    }
  }
}

.notifications{
  padding: 44px 0;
  .loader{
    height: 100px;
  }
  .notification{
    width: 100%;
    @include display_flex;
    min-height: 87px;
    border-left: solid 2px transparent;
    margin: 5px 0;
    .col{
      @include webkit('flex', 0 1 auto);
      &.left{
        width: 85px;
        height: 100%;
        text-align: right;
        padding-top: 15px;
        padding-right: 6px;
      }
      &.right{
        width: 100%;
        border-bottom: 1px solid #b2b2b2;
        overflow: hidden;
        padding: 20px 0 20px 2px;
        position: relative;
        .content{
          color: white;
          .text{
            padding-right: 20px;
            margin-bottom: 10px;
            font-size: 15px;
            b{
              font-family: $font-bold;
            }
          }
          .details{
            font-size: 12px;
            position: absolute;
            padding-bottom: 5px;
            bottom: 0;
            width: 100%;
            @include display_flex;
            @include flex_align_items(baseline);
            .icon{
              width: 20px;
              height: 15px;
              background-size: auto 100% !important;
              background-position: center !important;
              background-repeat: no-repeat !important;
              display: inline-block;
              position: relative;
              top: 2px;
            }
            .timestamp { height: 13px; }
          }
        }
      }
    }
  }
}