// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "shared/variables";
@import "shared/components";

.scrolling {
  overflow-y: scroll;
  height: 100%;
}

.scrolling::-webkit-scrollbar {
    width: 7px;
}

.scrolling::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 8px;
}

body{
  font-family: 'AvenirNext-Regular';
  word-wrap: break-word;
  background: black;
}
.hidden{
  display: none;
}

.notVisible{
  visibility: hidden;
}


/*
* Unii Header
*/

unii-header{
  @include flex_container;
  height: $header-height;
  width: 100%;
  z-index: 25;
  &.absolute{
    position: absolute;
    top: 0;
  }
  &.fixed{
    position: fixed;
    top: 0;
  }
  &.black{
    background: black;
    color: white;
  }
  &.white{
    background: white;
    color: black;
  }
  .col{
    @include flex_item(1, 0, auto);
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    font-family: $font-regular;
    &.left, &.right{
      max-width: 44px;
    }
    &.btn-col{
      max-width: 100px;
    }
    &.large{
      max-width: 55px;
      background-size: 20px auto;
    }
  }
}

loading{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 99999;
  .spinner{
    margin-top: 100px;
    text-align: center;
  }
  .loading-text{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
  }
  &.hide-nav{
    nav{
      display: none;
    }
  }
}

.spinner{
  width: 100%;
  height: 100%;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  &.black{
    background-image: image-url('unii-icons/misc/loading-spokes-black.svg');
  }
  &.white{
    background-image: image-url('unii-icons/misc/loading-spokes-white.svg');
  }
  &.bar{
    height: 20px;
  }
  &.post-action{
    height: 55px;
  }
  &.edit-profile{
    height: 44px;
  }
}

#no-internet{
  z-index: 1000;
  background: $user_green;
  color: black;
  text-align: center;
  font-size: 13px;
}


.media-progress{
  width: 100%;
  height: 43px;
  background: white;
  .progress{
    margin: 0 !important;
    border-radius: 0 !important;
    height: 3px !important;
  }
}

.media-progress.avatar-media.fixed{
  position: fixed;
  top: 0;
  background: black;
  .title{
    color: white !important;
  }

}

.image-preview{
  video{
    max-height: 80px !important;
    max-width: 80px !important;
  }
  video::-webkit-media-controls {
    display:none !important;
  }
}

.fix-orientation{
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  color: white;
  display: none;
  height: 100%;
  overflow: hidden;
  padding-top: 25%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index:9000;
  &.landscape { // landscape
    display: block;
    background-image: url(/images/portrait-mode.jpg);
    background-size: cover;
    z-index: 10000000;
    max-height: 100%;
    max-width: 100%;
  }
  &.hidden {
    display: none !important;
  }
}

.name { text-transform: capitalize; }

/*****************************************************************************/
/*                                  DESKTOP                                  */
/*****************************************************************************/

.ui-desktop{
  width: 100%;
  height: 100%;
  font-family:$font-regular;
  .page-bg{
    width: 100%;
    height: 100%;
    background-image: image-url('unii-icons/misc/landing-page-bg-2.png');
    background-size: cover;
    background-position: bottom;
    text-align: center;
    footer{
      width: 100%;
      height: 150px;
      line-height: 150px;
      background-image: image-url('unii-icons/misc/landing-page-footer-bg.png');
      background-size: cover;
      background-position: top;
      position: fixed;
      bottom: 0;
      color: white;
      font-family:"AvenirNext-Regular";
      font-size: 16px;
      @media (min-width: 1378px){
        height: 200px;
        line-height: 200px;
        font-size: 20px;
      }
    }
    .logo{
      // text-align: center;
      width: 20%;
      margin: 0 auto;
      padding-top: 100px;
      @media (min-width: 1300px){
        width: 15%;
      }
      @media (min-height: 900px){
        padding-top: 150px;
      }
      @media (min-height: 1100px){
        padding-top: 200px;
      }
    }
    .title{
      font-size: 40px;
      margin: 50px 0;
      padding: 0 50px;
      font-family: $font-light;
    }
    .subtext{
      font-size: 20px;
      padding: 0 50px;
      font-family: $font-regular;
    }
  }
}



/*****************************************************************************/
/*                                  PHONE                                    */
/*****************************************************************************/

.ui-phone{

  width: 100%;
  height: 100%;

  background: black;

  /*
  * SIGN IN PAGE
  */

  #signin-container{
    width: 100%;
    height: 600px;
    background: $lightgrey;

    header{
      // padding: 20px 0;
      text-align: center;
      height: 48px;
      position: relative;
      // background: $blue;
      @include blue_gradient;
      color: white;
      line-height: 48px;
      font-size: 1.3em;
      font-weight: 700;
      margin-bottom: 20px;
      .left-chevron{
        position: absolute;
        top: 0;
        left: 0;
        height: 48px;
        width: 48px;
        text-align: left;
        img{
          position: relative;
          top: -2px;
        }
        // background: url("left-chevron.svg");
      }
    }

    #authentication-dialog{
      // width: 90%;
      // margin: 0 auto;
      // input, button{
      //   font-size: 20px;
      // }

      label, input{
        color: $charcoal;
        font-size: 1.3em;
        font-weight: 400;
      }

      input{
        border: none;
        width: 100%;
      }

      select{
        margin: 0.7em 0;
      }

      input.ng-dirty.ng-invalid{
        border: 1px solid red;
      }

      input.ng-dirty.ng-valid{
        border: 1px solid #26c30d;
      }

      label{
        padding: 0;
        margin: 0;
      }

      .divider{
        height: 1px;
        background: lighten($mediumgrey, 10%);
        width: 100%;
      }

      .error{
        text-align: center;
        color: $charcoal;
      }

      .white-block{
        background: white;
        padding: 10px 20px;
        margin: 20px 0;
        border-top: 1px solid lighten($mediumgrey, 10%);
        border-bottom: 1px solid lighten($mediumgrey, 10%);

      }

      .white-block-button{
        background: white;
        padding: 10px;
        margin-top: 20px;
        border-top: 1px solid lighten($mediumgrey, 10%);
        border-bottom: 1px solid lighten($mediumgrey, 10%);

      }
      .form-supporting-text{
        color: $charcoal;
        padding: 5px;
        font-size: 0.9em;
      }

      .dob-picker{
        text-align: center;
        width: 100%;
      }

      .short-field{
        width: 32%;
        display: inline-block;
      }

      .actions{
        text-align: center;
        font-weight: 700;
        font-size: 1.3em;
        color: $blue;
        cursor: pointer;
        a{
          text-decoration: none;
        }
      }
    }
  }

  /*
  * HOME PAGE
  */

  #home-container{
    width: 100%;
    height: 100%;

    header.home-header{
      height: 48px;
      width: 100%;
      position: fixed;
      top: 0;
      text-align: center;
      z-index: 30;
    }

    #tools{
      // background: white;
      @include blue_gradient;
      background-position: 0px 48px;
      color: white;
      // padding: 7px 0;
      text-align: center;
      height: 48px;
      a{
        color: white;
        text-decoration: none;
        font-size: 1.3em;
      }
      #check-in, #refresh, #create-post{
        padding: 5px 0;
        margin-top: 5px;
      }
      span, #check-in{
        i{
          font-size: 2em;
        }
      }
      i{
        // font-size: 1.6em;
      }
    }

    #check-in, #create-post{
      width: 40%;
      float: left;
    }
    #refresh{
      width: 20%;
      float: left;
    }


    #view-port{
      height: 100%;

      .viewer{
        .post-content{
          padding: 10px;
          font-style: italic;
        }
      }
      #fixed-header-viewport{
        position: absolute;
        width: 100%;
        overflow:hidden;
      }
      #draggable-viewport {
        width: 100%;
        overflow: hidden;
        &.transitions{
          @include transitions;
        }
      }
      .view-port-container{
        padding-bottom: 100px;
        .feed-wrapper{
          -webkit-transform: translate3d(0,64px,0);
          -moz-transform: translate3d(0,64px,0);
          transform: translate3d(0,64px,0);
          @include transitions;

          &.post-failed, &.no-internet{
            -webkit-transform: translate3d(0,109px,0);
            -moz-transform: translate3d(0,109px,0);
            transform: translate3d(0,109px,0);
          }
          &.post-failed.no-internet{
            -webkit-transform: translate3d(0,150px,0);
            -moz-transform: translate3d(0,150px,0);
            transform: translate3d(0,150px,0);
          }
        }

        &.profile-feed{
          padding: 0;
        }

        overflow-y: scroll;
        vertical-align: top;
        .error { display: none; }
        &.error-loading {
          .spinner, .title, .subtext { display: none; }
          .error {
            padding: 0 15px;
            display: block;
            .spinner, .title, .subtext { display: block; }
          }
        }
      }
      .profile-wrapper {
        .view-port-container{
          width: 100%;
        }
      }
    }
    nav{
      height: 55px;
      width: 100%;
      background: white;
      position: fixed;
      bottom: 0;
      border-top: 1px solid rgba(64,64,64,0.4);
      z-index: 30;

      .nav-list{
        list-style-type: none;
        width: 95%;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;

        a{
          text-decoration: none;
          color: black;
        }

        .nav-button{
          display: inline-block;
          position: relative;
          margin: 0;
          width: 23%;
          .unread-notifications-icon{
            position: absolute;
            text-align: center;
            // width: 20px;
            height: 20px;
            padding: 0 6px;
            border-radius: 10px;
            background: red;
            top: -5px;
            color: white;
            left: calc(50% + 15px);
          }
          .blue{
            color: $user_blue;
          }
          .green{
            color: $user_green;
          }
          .red{
            color: $user_red;
          }
          .yellow{
            color: $user_yellow;
          }
          .orange{
            color: $user_orange;
          }
          .purple{
            color: $user_purple;
          }
          .nav-icon{
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
            height: 20px;
          }
          .activity-icon{
            background-image: image-url('unii-icons/misc/activity-icon.png');
          }
          .feed-icon{
            background-image: image-url('unii-icons/misc/feed-icon.png');
          }
          .messages-icon{
            background-image: image-url('unii-icons/misc/messages-icon.png');
          }
          .me-icon{
            background-image: image-url('unii-icons/misc/me-icon.png');
          }
        }
      }
    }
  }

  span.unread-messages{
    display: inline-block;
    background: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .urm-navbar{
    position: absolute;
    top: -8px;
    right: 10px;
  }

  /*
  * FEED
  */

  .feed{
    overflow: hidden;
  }

  .loading-feed{
    position: relative;
    // iPhone 3.5"
    top: -150px;
    // iPhone 4"
    @media (min-height: 400px){
      top: -80px;
    }
    // Over 4" phone
    @media (min-height: 500px){
      top: -20px;
    }
    color: white;
    .title{
      font-weight: bold;
      margin: 10px 0;
    }
  }

  .neutral{
    background: white;
  }

  .no-internet-wrapper{
    background: white;
    width: 100%;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid $darkgrey;
    &.fixed{
      position: fixed;
    }
  }

  .no-internet-flex{
    @include flex_container;
    text-align: center;
    color: black;
    font-size: 13px;
    padding: 5px 0;
    padding-left: 40px;
    font-family: "AvenirNext-Demi";
    min-height: 40px;
    .col{
      @include flex_item(1, 1, auto);
      &.text{
        @include flex_container;
        @include flex_align_items(center);
        .text-item{
          width: 0px;
          @include flex_item(1, 0, auto);
        }
      }
      &.dismiss{
        max-width: 40px;
        min-width: 40px;
        text-align: center;
        position: relative;
        img{
          position: absolute;
          right: 10px;
          top: 45%; // Fallback for browsers that do support calc
          top: calc(50% - 11px);
        }
      }
    }
  }

  #feed-header{
    height: auto;
    width: 100%;
    // background: white;
    position: fixed;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid $darkgrey;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform:    translate3d(0,0,0);
    transform:         translate3d(0,0,0);
    @include transitions;

    &.hide-icon{
      -webkit-transform: translate3d(0,-100%,0);
      -moz-transform:    translate3d(0,-100%,0);
      transform:         translate3d(0,-100%,0);
    }

    .action-bar-wrapper{
      display: block;
      background: white;
    }
    .uploading-bar-flex, .failed-upload-flex, .saving-bar-flex{
      border-top: 1px solid $darkgrey;
    }
    .uploading-bar-flex, .failed-upload-flex, .saving-bar-flex{
      height: 44px !important;
      .text{
        line-height: 44px !important;
      }
    }
    .action-bar-flex, .uploading-bar-flex, .failed-upload-flex, .saving-bar-flex{
      @include flex_container;
      @include flex_direction(horizontal, row);
      height: 64px;
      background: white;

      .col{

        &.db-activity, &.db-profile, &.dismiss, &.retry, &.dismiss-idle{
          width: 64px;
          @include flex_item(0, 0, auto);
          background-size: 19px auto;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.post{
          background-image: image-url("unii-icons/misc/compose.png");
        }
        &.dismiss{
          background-image: image-url("unii-icons/misc/delete-item.png");
        }
        &.retry{
          max-width: 30px;
          text-align: center;
          padding-top: 10px;
        }
        &.brand{
          font-family: "alternate-gothic-no-2-d";
          font-size: 22px;
          color: #3f3f3f;
          overflow: hidden;
          width: 0px;
          @include flex_item(1, 1, auto);
          background-size: auto 30px;
          background-repeat: no-repeat;
          background-position:center;
          @include flex_justify_content(flex-end);
          @include flex_container;
          @include flex_direction(veritcal, column);
          > div {
            text-align: center;
            line-height: 30px;
            text-transform: uppercase;
          }
          #we-are-at {
            height: 30px;
            width: 200%;
            margin: 0 auto;
            &.transitions{
              @include transitions;
            }
            >div {
              display: inline-block;
              min-width: 55px;
            }
            #university-nav{
              width: 50%;
              // background: blue;
              float: left;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            #whats-hot-nav {
              // background: red;
              width: 50%;
              float: left;
              opacity: 0;
              // display:none;
              #chevron {
                width: 15px;
                height: 20px;
                margin-left: 2px;
                display: inline-block;
                background-image: image-url("unii-icons/misc/chevron.png");
                background-repeat: no-repeat;
                background-position: left 75%;
                background-size: 100%;
              }
            }
            .show-only-this {
              opacity: 1;
              -webkit-transform: translate3d(0px, 0, 0) !important;
              -ms-transform: translate3d(0px, 0, 0) !important;
              transform: translate3d(0px, 0, 0) !important;
            }
            .hide {
              opacity: 0;
              display: none;
            }
          }
          #switching-feed {
            @include display_flex;
            @include webkit(justify-content, center);
            margin-bottom: 7px;
            .dot {
              background-color: #1f1f1f;
              opacity: .5;
              width: 4.5px;
              height: 4.5px;
              margin: 0 2.5px;
              display: inline-block;
              border-radius: 10px;
              &#current-dot {
                position: absolute;
              }
            }

          }
        }
        &.text{
          width: 100px;
          @include flex_item(0, 0, auto);
          text-align: center;
          line-height: 64px;
          font-size: 15px;
          font-family: "AvenirNext-Demi";
        }
        &.media-progress{
          padding-top: 21px;
        }
        &.input{
          padding-top: 10px;
          input{
            font-size: 15px;
            border: none;
            outline: none;
          }
        }
      }
    }
    .saving-bar-flex {
      @include flex_justify_content(space-between);
      .col {
        &.text {
          width: auto;
          text-align: left;
          padding-left: 21px;
        }
        &.spinner {
          width: 64px;
        }
      }
    }
    .header-elements{
      height: 100%;
      .col{
        float: left;
        height: 100%;
        width: 33.33333%;
        padding: 15px;
      }
      .search-icon{
        float: left;
        margin-top: 7px;
        width: 20px;
        height: 20px;
        background-image: image-url("unii-icons/misc/search.png");
        background-size: 100%;
      }

      .cancel-search-btn{
        width: 20px;
        height: 20px;
        background-image: image-url("unii-icons/misc/delete-search.png");
        background-size: 100%;
        background-repeat: no-repeat;
        float: right;
        margin-top: 7px;
        // position: absolute;
        // top: 7px;
        // left: 200px;
      }
      .search-col{
        position: relative;
      }
      .write-col{
        // padding: 0 !important;
      }
      .unii-logo{
        margin: 0 auto;
        width: 75px;
        height: 32px;
        background-image: image-url("unii-icons/misc/unii-logo.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position:center;
      }
      .composing{
        display: block;
        height: 100%;

      }
      .compose-btn{
        // margin: 15px;
        float: right;
        width: 20px;
        height: 20px;
        background-image: image-url("unii-icons/misc/compose.png");
        background-size: 100%;
      }
      .compose-btn-disabled{
        opacity: 0.2;
      }
    }
  }

  .users-table{
    width: 100%;
    .avatar-col{
      padding: 6px 7px 3px 16px;
      width: 73px;
      vertical-align: top;

    }
    .name-col{
      font-weight: bold;
    }
    .actions-col{
      width: 52px;
    }
    // .add-user-btn, .friend-request-sent-btn{

    //   // background-image: image-url('unii-icons/misc/add-user-white.png');
    //   background-size: 100% !important;
    //   background-repeat: no-repeat !important;
    //   // background: red !important;

    // }
    .user-action-btn{
      width: 100%;
      height: 44px;
      background-size: auto 90%;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
    .user-action-btn.request-sent{
      background-size: auto 60% !important;
    }
    // .friend-request-sent-btn{
    //   height: 24px;
    //   width: 25px;
    //   // border: 2px solid yellow;
    // }

  }


  div.search-results{
    background: $black;
    // min-height: 1000px;

    height: 100%;
    z-index: 50;
    padding-top: 70px;
    overflow: scroll;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;

    .searching{
      text-align: center;
      padding: 10px 0;
    }
  }


  /*
  * CARDS START HERE
  */

  .actions-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    top: 0;
    z-index: 999;
    color: white;
    @include display_flex;
    @include webkit(flex-direction, column);
    @include webkit(align-items, center);
    @include webkit(justify-content, center);

    .row{
      @include webkit(flex, 1);
      color: black;
      max-height: 55px;
      line-height: 55px;
      text-align: center;
      background: white;
      font-size: 16px;
      font-family: $font-medium;
      border-bottom: 1px solid #d7d7d7;
      max-width: 80%;
      min-width: 80%;
      &.spinner-row{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .text{
        color: black;
        &.delete{
        color: red !important;
       }
      }
      &:first-of-type{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &:last-of-type{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
      }

    }
  }

  .card{
    width: 100%;
    margin: 0;
    background: black;

    .content{
      position: relative;
    }

    .popular-post{
      height: 20px;
      width: 100%;
      border-top: 1px solid black;
      color: black;
      @include display_flex;
      font-family: $font-bold;
      font-size: 8px;
      line-height: 20px;

      .col{
        @include webkit(flex, 1);
        position: relative;
        &.small-star{
          max-width: 20px;
          background-size: 9px auto;
        }
        &.text{
          padding: 0;
        }
      }
      .small-arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid #000;
        border-right: 5px solid #000;

        border-top-width: 5px;
        border-top-style: solid;
        position: absolute;
        bottom: -5px;
        left: 5px;
        // left: 48%; /* Fallback for browsers that don't support calc */
        /* left: 50%; */
        z-index: 20;
      }
    }


    // border: 1px solid rgba(200,200,200,1);
    // border-radius: 3px;
    // -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    // -moz-box-shadow:    0px 0px 10px rgba(0,0,0,.2);
    // box-shadow:         0px 0px 10px rgba(0,0,0,.2);


    .gallery{
      .image{
        display: inline-block;
        img{
          max-height: 100px;
        }
      }
    }
    .card-link{
      text-decoration: none;
      color: white;
    }

    .text-box{
      height: 90px;
    }

    .video-text-box{
      height: 90px;
    }

    .link-text-box{
      height: 100px;
      .divider{
        width: 60%;
        margin: 10px auto;
        background: white;
        height: 1px;
        display: block;
      }
    }

    .text-box, .video-text-box, .link-text-box{
      text-align: center;
      // height: 90px;
      // background: red;
      position: absolute;
      bottom: 70px;
      width: 100%;
      z-index: 5;
      .title{
        width: 90%;
        margin: 0 auto;
        font-family: $font-block;
      }
      .text{
        width: 80%;
        margin: 0 auto;
        // text-shadow: 0 1px 2px rgba(64,64,64,0.5);
        font-weight: 400;
        font-size: 1.2em;
        // background: blue;

        .hashtag{
          color: white;
          font-weight: 700;
          font-size: 1.1em;
        }
      }
    }

    .controls{
      position: absolute;
      bottom: 0;
      width: 100%;
      .avatar{
        width: 50px;
      }
      .user-details{
        text-align: left;
        padding-left: 10px;
        .name{
          font-size: 1.2em;
          font-weight: 700;
        }
      }
    }

    .image, .video{
      position: relative;


    }
    .video {
      &.bg-dynamic {
        background-image: $image-placeholder;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
      }
    }

    header{
      // padding: 10px;
      img, .card-details{
        display: inline-block;
      }
      img{
        vertical-align: text-middle;
      }

      h5, h6, p{
        margin: 0;
        padding: 0;
      }
      .name{
        font-weight: bold;
      }

    }

    .slides{
      height: 250px;
      overflow: scroll;
      border: 1px solid black;
      white-space:nowrap;
      .slider{
        height: 100%;
        // width: 2000px;
        .slide{
          float: left;
        }
      }

    }

    .text{
      padding: 0 10px;
    }

    .audio{
      // margin: 0 auto;
      width: 100% !important;
    }

    .share{
      padding: 3px;
      color: $blue;

      .share-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
      }

      .share-button{
        display: inline-block;
        width: 60px;
        cursor: pointer;
      }
    }
    .status {
      background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
      background-position: top center, left center, bottom center, right center;
    }
    &.blue {
      .name { color: $user_blue; }
      .status {
        background-color: $user_blue;
        background-image: image-url('unii-icons/blue/shadow-top.png'), image-url('unii-icons/blue/shadow-left.png'), image-url('unii-icons/blue/shadow-bottom.png'), image-url('unii-icons/blue/shadow-right.png');
      }
    }
    &.green {
      .name { color: $user_green; }
      .status {
        background-color: $user_green;
        background-image: image-url('unii-icons/green/shadow-top.png'), image-url('unii-icons/green/shadow-left.png'), image-url('unii-icons/green/shadow-bottom.png'), image-url('unii-icons/green/shadow-right.png');
      }
    }
    &.red {
      .name { color: $user_red; }
      .status { background-color: $user_red;
        background-image: image-url('unii-icons/red/shadow-top.png'), image-url('unii-icons/red/shadow-left.png'), image-url('unii-icons/red/shadow-bottom.png'), image-url('unii-icons/red/shadow-right.png');
      }
    }
    &.purple {
      .name { color: $user_purple; }
      .status {
        background-color: $user_purple;
        background-image: image-url('unii-icons/purple/shadow-top.png'), image-url('unii-icons/purple/shadow-left.png'), image-url('unii-icons/purple/shadow-bottom.png'), image-url('unii-icons/purple/shadow-right.png');
      }
    }
    &.orange {
      .name { color: $user_orange; }
      .status {
        background-color: $user_orange;
        background-image: image-url('unii-icons/orange/shadow-top.png'), image-url('unii-icons/orange/shadow-left.png'), image-url('unii-icons/orange/shadow-bottom.png'), image-url('unii-icons/orange/shadow-right.png');
      }
    }
    &.yellow {
      .name { color: $user_yellow; }
      .status {
        background-color: $user_yellow;
        background-image: image-url('unii-icons/yellow/shadow-top.png'), image-url('unii-icons/yellow/shadow-left.png'), image-url('unii-icons/yellow/shadow-bottom.png'), image-url('unii-icons/yellow/shadow-right.png');
      }
    }
  }


  .controls-wrapper{
    height: 55px;
    color: white;
    table{
      width: 100%;
      height: 100%;
      .favourites-text-col{
        padding: 0 15px;
        text-align: left;
        font-size: 11px;
        .count{
          font-weight: bold;
          padding-left: 4px;
        }
      }
      .favourite-icon, .comment-icon, .menu-icon{
        height: 20px;
        width: 20px;
        display: inline-block;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        position: relative;
        top: 3px;
        margin-left: 5px;
      }

      .actions{
        width: 150px;
        text-align: right;
        padding-right: 15px;
      }

      .share-button, .menu{
        display: inline-block;
      }

      .menu{
        position: relative;
        top: 8px;
        left: -20px;
      }

      .likes, .comments{
        text-align: right;
        // width: 80px;
      }
      .likes{
        padding: 0 15px;
        width: 90px;
      }
      .like-count, .comment-count{
        font-size: 18px;
      }
      td{
        text-align: center;
        height: 100%;
      }
    }

  }
  // Link post
  .link{
    position: relative;
    overflow: hidden;
    background: $bg_grey;
    background-size: cover;
    background-position: center;
    height: 100vw;
    &.detail{
      height: 100%;
    }
  }
  .shadow{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: image-url('unii-icons/misc/shadow-overlay.png');
    background-size: 100%;
    z-index: 5;
  }

  /*
  * WRITE
  */

  #fixed-header-viewport-create-post{
    position: relative;
    top: 44px;
  }

  .link-field{
    display: none;
  }

  .action-bar{
    height: 44px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 50;
    .cancel{
      float: left;
      width: 44px;
      height: 44px;
      // margin: 12px 15px;
      background-image: image-url("unii-icons/misc/delete.png");
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;
    }

  }

  .post-btn{
    float: right;
    // width: 100px;
    padding: 5px 13px;
    // height: 20px;
    border-radius: 6px;
    margin: 7px;
    border: none;
    font-family: $font-demi;
    outline: none;
  }
  .post-btn-idle{
    background: $whitesmoke;
    color: $lightgrey;
    border: none;
    font-family: $font-demi;
    outline: none;
  }

  .user-details{
    height: 62px;
    background: white;
    width: 100%;
    .avatar-col{
      width: 62px;
    }
    .name{
      text-align: left;
      font-size: 16px;
      color: $darkslategrey;
      font-family:$font-demi;
    }
  }

  .create-post-text{
    border: none;
    outline: none;
    resize: none;
    padding: 0 17px;
    font-size: 15px;
    margin: 0;
  }

  .inputs{
    height: 40px;
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 50;
    border-top: 2px solid $alt_lightgrey;
    border-bottom: 2px solid $alt_lightgrey;
    .keyboard{
      background-image: image-url("unii-icons/misc/keyboard.png");
      background-size: auto 50%;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
    }
    .medias{
      // background-image: image-url("unii-icons/misc/media.png");
      background-size: auto 50%;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
    }
    .keyboard, .medias{
      width: 50%;
      float: left;
    }
  }

  .attached-media{
    min-height: 200px;
    background: white;
    text-align: left;
    .media-object{
      margin: 15px;
      position: relative;

      .remove-media{
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 20;
        height: 30px;
        width: 30px;
        background-image: image-url("unii-icons/misc/delete-item.png");
        background-size: 100%;

      }

      display: inline-block;
      .media-preview{
        border-radius: 4px;

        canvas, video{
          border-radius: 4px;
        }
        canvas{
          width: 90px;
          height: 90px;
        }
        video{
          width: 130px;
          height: 90px;
        }
        video::-webkit-media-controls {
          display:none !important;
        }
      }
    }
  }

  header#blue-header{
    // padding: 20px 0;
    text-align: center;
    height: 48px;
    position: relative;
    // background: $blue;
    @include blue_gradient;
    color: white;
    line-height: 48px;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 20px;
    .left-chevron{
      position: absolute;
      top: 0;
      left: 0;
      height: 48px;
      width: 48px;
      text-align: left;
      img{
        position: relative;
        top: -2px;
      }
      // background: url("left-chevron.svg");
    }
  }

  #create-post-section{

    .white-block{
      background: white;
      padding: 10px 20px;
      margin: 20px 0;
      border-top: 1px solid lighten($mediumgrey, 10%);
      border-bottom: 1px solid lighten($mediumgrey, 10%);

    }

    .errors{
      text-align: center;
    }

    .progress{
      margin: 0 5px;
      height: 3px;
      position: relative;
      top: -3px;
    }

    .white-block-button{
      background: white;
      padding: 10px;
      margin-top: 20px;
      border-top: 1px solid lighten($mediumgrey, 10%);
      border-bottom: 1px solid lighten($mediumgrey, 10%);
    }

    .actions{
      text-align: center;
      font-weight: 700;
      font-size: 1.3em;
      color: $blue;
      cursor: pointer;
      a{
        text-decoration: none;
      }
      // .loading{
      //   display: none;
      // }
    }
    textarea#create-post-text{
      border: none;
      border-bottom: 1px solid $blue;
      margin: 5px 0;
    }
    .attachments{
      margin: 5px;
    }
  }

  /*
  * VIEW CONTENT
  */
  .users-flex{

    width: 100%;
    .user{
      @include display_flex;
      width: 100%;
      height: 44px;
      @include webkit(align-items, center);
    }
    .col{
      @include webkit(flex, 1);
      &.left{
        max-width: 55px;
        height: 38px;
        text-align: center;
      }
      &.center{
        .name{
          font-family: $font-medium;
          font-size: 13px;
        }
      }
      &.right{
        max-width: 55px;
        height: 38px;
      }
    }
  }
  .favourites-modal{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0px;
    z-index: 95;
    background: black;
    @include transitions;
    .scroller{
      height: 100%;
      padding: 55px 0;
      overflow-y:scroll;
    }

    .favourites-flex{

      width: 100%;
      .favourite{
        @include display_flex;
        width: 100%;
        height: 47px;
        @include webkit(align-items, center);
      }
      .col{
        @include webkit(flex, 1);
        &.left{
          max-width: 60px;
          height: 38px;
          text-align: center;
        }
        &.center{
          .name{
            font-family: $font-bold;
            font-size: 13px;
          }
        }
        &.right{
          max-width: 20px;
          height: 38px;
        }
      }
    }

    .favourites-navbar{
      height: 44px;
      line-height: 44px;
      font-family: $font-medium;
      font-size: 18px;
      text-align: left;

      background: white;
      position: absolute;
      top: 0;
      width: 100%;
      @include display_flex;
      .col{
        @include webkit(flex, 1);
        &.left, &.right{
          max-width: 44px;
        }
        &.center{
          padding-left: 15px;
        }
      }
    }
    .scroller.nonbounce {
      display: none;
    }
  }




  .poster-section{
    .poster-flex{
      @include display_flex;
      @include webkit(justify-content, center);
      @include webkit(align-items, initial);
      min-height: 55px;
      padding: 11px 3px;
      &.compose-flex{
        @include webkit(align-items, center);
        padding-bottom: 5px;
      }
      .col{
        @include webkit(flex, 1);
        &.left{
          max-width: 55px;
          &.compose-avatar-col{
            max-width: 55px;
            padding: 2px 0 0 15px;
          }
        }

        &.right{
          padding-left: 3px;
          padding-top: 7px;

          .name{
            font-family: $font-medium;
            font-size: 15px;
            padding: 0;
            margin: 0px !important;
          }

          &.compose-username-col{
            padding: 0;
            .name{
              font-family: $font-bold;
              color: $darkslategrey;
              padding-left: 10px;
            }
          }
          .text{
            font-family: $font-regular;
            font-size: 12px;
            color: white;
            margin: 0px !important;
          }
        }
        &.nocontent{
          padding-top: 15px;
        }

      }
    }
  }

  .content-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    .content{
      height: 100%;
    }
    .view-navbar{
      height: 44px;
      width: 100%;
      // background: blue;
    }
  }

  .back-btn-white{
    background-image: image-url('unii-icons/misc/back-white.png');
  }
  .back-btn-black{
    background-image: image-url('unii-icons/misc/back.png');
  }
  .back-btn.fixed{
    position: fixed;
    z-index: 1000;
  }
  .back-btn{
    width: 44px;
    height: 44px;
    z-index: 100;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    span{
      z-index: 100;
    }
  }
  .view-header{
    height: 44px;
    background: blue;
    // position: fixed;
    // top: 0;
    // z-index: 50;
    // width: 100%;

  }
  .view-fixed-content{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .images-whiteproof{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.2);
  }


  .view-card-actions{
    height: 55px;
    // background: red;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
  }
  .viewer{
    height: 100%;
  }

  .video{
    @include display_flex;
    height: 100%;
    @include webkit(justify-content, center);
    @include webkit(flex-direction, column);
  }
  .status-view{
    @include display_flex;
    height: 100%;
    @include webkit(justify-content, center);
    @include webkit(flex-direction, column);
    padding: 0 20px;

    @include transitions;

    .status-box{
      overflow-y: auto;
      margin-bottom: 55px;
    }
    .status-text{
      text-align: center;
      margin-top: 50px;
      font-family: $font-medium;
      font-size: 15px;
    }
  }
  .status-table{
    td{
      padding: 50px 25px;
      word-wrap: break-word;
      vertical-align: middle;
      overflow-wrap: break-word;

      -ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    }

  }

  .post-modal-banner{
    background: rgba(255,255,255,0.4);
    height: 44px;
    z-index: 1;
    // text-align: center;
    padding-left: 70px;
    font-weight: bold;
    line-height: 44px;
  }
  .no-comments{
    text-align: center;
    padding: 20px 0;
  }
  .view-previous-comments-btn{
    height: 30px;
    line-height: 30px;
    color: white;
    padding-left: 15px;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    margin: 5px 0 10px 0;
    font-size: 12px;
  }
  .comments-table{
    width: 100%;
    .comment-details{
      padding-top: 6px;
    }
    .comment-avatar-col, .avatar-col{
      padding: 6px 7px 3px 16px;
      width: 73px;
      vertical-align: top;
      .avatar{
        width: 38px;
        height: 38px;
        border-radius: 26px;
        background-size: auto 100%;
        background-position: center;
        // background: red;
      }
    }
    .fav-comment-col{
      width: 50px;
      text-align: center;
      color: white;
      vertical-align: bottom;
      .comment-favourite-icon{
        width: 15px;
        height: 15px;
        // background: red;
        background-size: 100% !important;
        display: inline-block;
        padding: 0;
        margin: 0;
      }
      .likes_count{
        display: inline-block;
      }
    }
  }
  .comments-wrapper{
    // overflow: scroll;
    // overflow-x: hidden !important;
    background: black;
  }
  .comments-window{
    // height: 200px;
    height: calc(100% - 100px) !important;
    background: black;
    overflow: scroll !important;
    overflow-x: hidden !important;
    .poster-details{
      padding: 10px 10px 10px 0;
      .name{
        font-weight: bold;
        font-size: 15px;
      }
      p{
        margin: 0;
      }
      .text{
        color: white;
      }
    }




  }
  table.create-comment{
    width: 100%;
    td{
      vertical-align: text-middle;
    }
  }
  .create-comment-input{
    width: 100%;
    color: white;
    background: rgba(0,0,0,.7);
    border: none;
    font-weight: bold;
    height: 20px; // base height
    max-height: 80px;
    position: relative;
    outline: none;
    resize: none;
    font-family: $font-demi;
  }
  .favourite-button-col, .post-comment-col{
    width: 66px;
  }
  .hidden-textarea{
    display: none;
    font-weight: bold;
    background: red;
    color: white;
    width: 200px;
    padding-right: 10px;
  }
  .comment-details{
    p{
      margin: 0;
    }
    .text{
      color: white;
    }
  }
  span.content{
    span{
      color: $blue;
    }
  }

  // .comment-table{
  //   width: 100%;
  //   margin: 0 auto;
  //   margin-top: 10px;
  //   tr{
  //     padding: 10px 0 !important;
  //   }
  //   .comment-like{
  //     // vertical-align: middle;
  //     text-align: middle;
  //   }
  //   .comment-date{
  //     font-size: 0.8em;
  //     font-weight: 100;
  //     color: rgba(64,64,64,1);
  //   }
  //   .full-text{
  //     display: none;
  //   }
  //   .truncated{
  //     span{
  //       color: $blue;
  //       cursor: pointer;
  //     }
  //   }
  //   td{
  //     vertical-align: top;
  //     padding: 5px 0;
  //     .name{
  //       font-weight: bold;
  //       display: block;
  //     }
  //   }
  // }

  /*
  * PROFILE PAGE
  */

  .relationship{
    padding: 0 10px;
    text-align: center;
  }

  /*
  * MENU PAGE
  */

  .menu{
    font-size: 1.4em;
    font-weight: 100;
    li{
      height: 55px;
      line-height: 55px;
      text-align: center;
      border-bottom: 1px solid rgba(64,64,64,.3);
    }
  }


  /*
  * ME PAGE
  */


  .me-details{
    min-height: 250px;
    color: white;
    text-align: center;
    img.avatar{
      border: 3px solid white;
    }
    .shadow{
      background: rgba(0,0,0,.3);
      min-height: 250px;
    }
  }

  .me-actions{
    @include grey_gradient;
    #post, #settings{
      width: 50%;
      float: left;
      text-align: center;
      padding: 10px;
      // background: white;
      font-size: 0.9em;
      color: rgba(20,20,20,.8);
      text-shadow: 0 1px -1px #222;
      border-top: 1px solid rgba(20,20,20,.3);
      border-bottom: 1px solid rgba(20,20,20,.3);
    }
  }

}

/* MOBILE MENU */
$under-header-top:$header-height + 20;
$menu-boder-radius: 5px;

.blurred {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
#mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  top: 0;
  #overlay {
    background: black;
    opacity: .5;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:10000
  }
  #menu-options {
    &.top {
      -webkit-animation: top-bottom .5s; /* Chrome, Safari, Opera */
      animation: top-bottom .5s;
      top: 0;
      bottom: auto;
    }

    &.under-header {
      -webkit-animation: top-underheader .5s; /* Chrome, Safari, Opera */
      animation: top-underheader .5s;
      top: $under-header-top;
      bottom: auto;
      padding-top: 20px;
    }
    &.bottom {
      -webkit-animation: bottom-top .5s; /* Chrome, Safari, Opera */
      animation: bottom-top .5s;
      bottom: 0;
    }
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    padding: 15px 0;
    .options{
      font-family: $font-block;
      list-style-type: none;
      border-radius: $menu-boder-radius;
      li{
        &:first-child {
          border-radius: $menu-boder-radius $menu-boder-radius 0 0;
        }
        &:last-child {
          border-radius: 0 0 $menu-boder-radius $menu-boder-radius;
        }
        background: white;
        text-align: center;
        line-height: 55px;
        font-size: 24px;
        color: black;
        border-bottom: 1px solid $alt_lightgrey;
        margin: 0 auto;
        max-width: 239px;
        &:last-of-type{
          border: none;
        }
        span {
          @include display_flex;
          @include flex_align_items(center);
          @include flex_justify_content(center);
        }
      }
      .profile-option{
        border-bottom: 1px solid #d7d7d7;
      }
      .block{
        border: none;
      }
      .separator {
        background: transparent;
        height: 5px;
      }
    }
  }
}

@-webkit-keyframes top-bottom {
    from {top: -100px; opacity: 0; }
    to {top: 0px; opacity: 1;}
}

/* Standard syntax */
@keyframes top-bottom {
    from {top: -100px; opacity: 0; }
    to {top: 0px; opacity: 1;}
}

@-webkit-keyframes top-underheader {
    from {top: -100px; opacity: 0; }
    to {top: $under-header-top; opacity: 1;}
}

/* Standard syntax */
@keyframes top-underheader {
    from {top: -100px; opacity: 0; }
    to {top: $under-header-top; opacity: 1;}
}

@-webkit-keyframes bottom-top {
    from {bottom: -100px; opacity: 0; }
    to {bottom: 0; opacity: 1;}
}

/* Standard syntax */
@keyframes bottom-top {
    from {bottom: -100px; opacity: 0; }
    to {bottom: 0; opacity: 1;}
}

#coachmarks {
  position: fixed;
  top: 0;
  z-index: 1000000;
}

#coachmarks-text {
  position: fixed;
  top: 70px;
  color: white;
  z-index: 1000001;
  max-width: 200px;
  font-family: 'AvenirNext-Regular';
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  span {
    font-family: 'AvenirNext-Bold';
  }
}


