@import "shared/variables";
@import "shared/components";


/*****************************************************************************/
/*                                  PHONE                                    */
/*****************************************************************************/

.ui-phone {

  /*
  * RESTRICTED USERS PAGE
  */

  .restricted-page{
    background: #3f3f3f;
    height: 100%;
    padding-top: 44px;
  }

  .restricted-users{
    font-family: $font-bold;
    font-size: 16px;
    .title-bar{
      height: 60px;
      background: #3f3f3f;
      line-height: 60px;

      color: white;

      padding: 0 15px;
    }
    .user{
      @include flex_container;
      @include flex_align_items(center);
      @include flex_justify_content(center);
      height: 60px;
      background: black;
      border-bottom: 1px solid #3f3f3f;
      &.empty{
        font-family: $font-regular;
        color: white;
      }
      .col{
        @include flex_item(1,0,auto);
        &.avatar-col{
          max-width: 60px;
          min-width: 60px;
          text-align: center;
          padding-top: 3px;
        }
        &.name{
        }
        &.action{
          max-width: 85px;
          min-width: 85px;
          height: 100%;
        }
      }
    }
  }


  /*
  * CHOOSE COURSE PAGE
  */

  .course-selection{
    @include flex_container;
    height: 100%;
    height: calc(100% - 44px);
    .col{
      @include flex_item(1,1, auto);
      &.icon-col{
        min-width: 80px;
        max-width: 80px;
        position: relative;

        .input-icon{
          height: 40px;
          width: 75%;
          position: absolute;
          top: 20px;
          left: 0;
        }
      }
      &.list-col{

        @include flex_container;
        @include flex_direction(vertical, column);
        .flex-item{
          @include flex-item(1, 0, auto);
        }
        .search-box{
          height: 60px;
          position: relative;
          @include flex-item(0, 0, auto);
          input{
            padding: 5px 10px;
            margin: 0 !important;
            position: absolute;
            bottom: 2px;
            width: 100%;
            border: none;
            font-size: 13px;
            font-family: $font-demi;
            background-color: black;
            border-bottom: 1px solid rgb(63,63,63);
            color: white;
          }
        }
        .results-box{
          @include flex-item(1, 0, auto);
          @include flex_container;
          @include flex_direction(vertical, column);
          @include flex_align_content(stretch);
          .results-scroller-container{
            width: 95%;
            @include flex-item(1, 0, 95%);
            height: 0px;
            overflow: auto;
            background-color: rgb(63,63,63);
            .spinner{
              margin-top: 20px;
            }
            .course{
              font-size: 13px;
              font-family: $font-regular;
              color: white;
              margin: 0;
              padding: 20px 10px;
              .name{
                &.green{
                  color: $user_green;
                }
                &.blue{
                  color: $user_blue;
                }
                &.red{
                  color: $user_red;
                }
                &.yellow{
                  color: $user_yellow;
                }
                &.orange{
                  color: $user_orange;
                }
                &.purple{
                  color: $user_purple;
                }
              }
            }
          }
          .padding{
            @include flex-item(0, 0, auto);
            height: 20px;
          }
        }
      }
    }
  }

  /*
  * EDIT PROFILE PAGE
  */

  .header-btn{
    height: 44px;
    width: 100%;
    display: block;
    background-color: white;
    border: none;
  }

  .edit-profile-v2{
    height: 100%;
    .pick-color-text {
      color: white;
      font-size: 15px;
      padding: 15px;
      padding-bottom: 0;
    }
    .color-selections {
      height: 70px;

      .flex-colors{
        @include flex_container;
        height: 100%;
        .color{
          height: 100%;
          @include flex_item(0, 0, 16.6%);
          @include flex_container;
          @include flex_align_items(center);
          @include flex_justify_content(center);
          .circle{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            @include flex_item(0, 0, auto);
            &.selected{
              height: 40px;
              width: 40px;
              border-radius: 20px;
            }
            .tick{
              background-image: image-url("unii-icons/misc/tick.png");
              background-size: 15px auto;
              background-position: center;
              background-repeat: no-repeat;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }

    section.profile-fields {
      width: 100%;

      .server-errors{
        color: red;
        font-size: 13px;
        font-family: $font-demi;
        text-align: center;
        padding: 20px 10px;
        padding-bottom: 0;
      }

      .attribute {
        @include flex_container;
        width: 100%;
        .col {

          height: 60px;
          text-align: left;
          font-size: 15px;
          font-family: $font-regular;
          &.field {
            max-width: 80px;
            color: white;
            position: relative;
            overflow: hidden;
            @include flex_item(0, 0, 80px);
            &.vcenter {
              @include display_flex;
              @include webkit('justify-content', initial);
              @include webkit('align-items', center);
              line-height: 20px;
            }
            .input-icon{
              height: 50%;
              width: 75%;
              position: absolute;
              bottom: 4px;
              left: 0;
            }
          }
          &.value {
            @include flex_item(1, 0, auto);
            border-bottom: 1px solid #2c2c2c;
            @include flex_container;
            @include flex_align_items(flex-end);

            .item{
              @include flex_item(0, 0, auto);
              width: 100%;
              position: relative;
              .chevron-icon{
                position: absolute;
                right: 0;
                bottom: 2px;
                height: 100%;
                width: 40px;
              }
              .border{
                width: 20%;
                border-bottom: 1px solid #2c2c2c;
              }
              &.bio{
                width: 100%;
              }
              .password{
                color: white;
                margin: 6px 0;
                padding-right: 40px;
              }
              .error-icon {
                position: absolute;
                right: 8px;
                top: 5px;
                height: 20px;
                width: 20px;
              }
            }
            &.bio{
              height: auto;
              border: none;
              position: relative;
              .characters{
                position: absolute;
                right: 25px;
                bottom: -6px;
                font-size: 13px;
                font-family: $font-demi;
                color: $user_green;
                &.red{
                  color: $user_red;
                }
              }
            }
            input {
              line-height: 15px;
              background: black;
              border: none;
              outline: none;
              padding: 0;
              padding-right: 40px;
              margin: 0;
              width: 100%;
              font-family: $font-demi;
              font-size: 13px;
              color: white;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              &.invalid { width: 83%; color: red; font-family: $font-bold; }
              &.empty{
                font-family: $font-regular;
                //opacity: 0.5;
              }
            }
            textarea{
              background: black;
              width: 90%;
              font-family: $font-demi;
              font-size: 13px;
              color: white;
              border: none;
              outline: none;
              resize: none;
              margin: 25px 0 10px 0;
              line-height: 20px;
              &.empty{
                font-family: $font-regular;
                //opacity: 0.5;
              }
            }
            input[disabled=disabled], input[disabled]{
              opacity: 0.5;
              &.course{
                opacity: 1;
              }
            }

            .error-info {
              height: 20px;
              line-height: 20px;
              font-size: 10px;
              display: block;
              position: absolute;
              margin-top: -23px;
              color: white;
              font-family: $font-regular;
            }
            select {
              background: transparent;
              width: 100%;
              padding: 0px !important;
              font-size: 13px;
              font-family: $font-demi;
              color: white;
              line-height: 1;
              border: 0;
              border-radius: 0;
              height: 34px;
              -webkit-appearance: none;
              outline: none;
            }
          }
        }
      }
    }
  }



  /*
  * END EDIT PROFILE PAGE
  */

  .no-photo {
    text-align: center;
    color: white;
    padding: 20px;
  }

  .unii-header {
    height: 44px;

  }

  .unii-header.white {
    background: white;
    border-bottom: 1px solid #d7d7d7;
  }
  .unii-header.fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .unii-header-44 {
    width: 100%;
    height: 100%;

    .action-col {
      width: 44px;
      height: 100%;
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .title-col {
      font-size: 18px;
      font-family: $font-medium;
      text-align: center;
    }
  }

  .edit-me-wrapper {
    width: 100%;
    height: 100%;
  }
  .no-profile-posts {
    margin: 25px 0;
    color: white;
    .title {
      font-family: $font-demi;
      font-size: 15px;
      margin: 10px 0;
    }
  }
  .no-me-posts {
    background-image: image-url('unii-icons/misc/no-posts-background.png') !important;
    background-size: 100% auto !important;
    text-align: center;
    .no-posts-btn {
      width: 60%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      // background: $user_green;
      border-radius: 10px;
      font-family: $font-demi;
      font-size: 15px;
      margin: 25px auto;
      display: inline-block;
      color: black;
      text-decoration: none;
    }
  }

  .profile-wrapper{
    width: 100%;
    height: 100%;
  }

  li.notifications {
    .details-col {
      padding-bottom: 2px !important;
    }
    .content {
      .details {
        .icon {
          width: 20px;
          height: 15px;
          background-size: auto 100% !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          display: inline-block;
        }
        .timestamp {
          font-size: 11px;
          position: relative;
          top: -2px;
          left: -2px;
        }
      }
    }
  }

  .no-images {
    text-align: center;
    width: 100%;
    .graphic {
      margin: 30px 0 20px 0;

      @media (min-height: 500px){
        margin-top: 50px;
      }

      img{
        width: 50%;
        @media (min-height: 500px){
          width: 70%;
        }
      }
    }
    .text {
      color: white;
    }
    a {
      color: black;
      text-decoration: none;
    }
    .post-photo-btn {
      width: 80%;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      border-radius: 10px;
      margin: 30px auto;
      font-size: 15px;
    }
  }

  .action-btn {
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 100%;
    margin: 0 auto;

    &.absolute {
      position: absolute;
      left: 10px;
      top: 10px;
      background-position: 20px 20px;
    }
    &.black {
      background-image: image-url('unii-icons/misc/back.png');
    }
    &.white {
      background-image: image-url('unii-icons/misc/back-white.png');
    }
    &.cancel-idle {
      background-image: image-url('unii-icons/misc/delete-search-idle.png');
    }

    &.cancel-round {
      background-image: image-url('unii-icons/misc/delete-search.png');
    }

    &.new-conversation-btn {
      background-image: image-url('unii-icons/misc/compose-message.png');
    }
    &.change-picture {
      background-image: image-url('unii-icons/misc/change-picture.png');
      background-size: 30px 35px !important;
      height: 44px;
    }
    &.cancel-white {
      background-image: image-url('unii-icons/misc/pre-unii/delete_button.png');
      min-height: 44px;
      margin-top: 10px;
    }
  }

  .nav-header{
    background: white;
    width: 100%;
    height: 44px;
    text-align: center;
    .cancel-col, .actions-col{
      width: 50px;
    }
    .text-col{
      font-weight: bold;
      font-size: 15px;
    }

  }

  .settings-modal{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, .8);
    // height: 200px !important;
    z-index: 100;
    padding: 15px 0;

    .cancel-btn{
      width: 90%;
      margin: 15px auto;
      background: white;
      color: $blue;
      text-align: center;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
    }

    .options{
      width: 90%;
      margin: 0 auto;
      background: white;
      list-style-type: none;
      border-radius: 10px;
      li{
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        color: $blue;
        border-bottom: 1px solid $alt_lightgrey;
        &:last-of-type{
          border: none;
        }
      }
      .profile-option{
        border-bottom: 1px solid #d7d7d7;
      }
      .block{
        border: none;
      }
    }
  }


  .avatar-wrapper{
    height: 100%;

    .avatar-canvas-window{
      overflow: hidden;
      width: 100%;
      height: 100%;
      .wrapper{
        height: 100%;
        width: 100%;
        @include flex_container;
        @include flex_direction(veritcal, column);
        @include flex_justify_content(center);
      }
      .avatar-preview, .no-photo{
        @include flex_item(0, 0, auto);
        canvas{
          width: 100%;
        }
      }
    }
    .actions-bar{
      height: 55px;
      @include flex_container;
      width: 100%;
      position: fixed;
      bottom: 0;
      .col{
        @include flex_item(1, 1, auto);
        width: 50%;
        padding: 0 10px;
        .text{
          font-size: 20px;
          line-height: 55px;
        }
        &.cancel{
          text-align: left;
        }
        &.accept{
          text-align: right;
        }
      }
    }
  }


  .profile-box{
    position: relative;
    height: 100vw;
    .slider-window{
      overflow-x:hidden;
      height: auto;
    }
    .profile-slider{
      list-style-type: none;
      position: relative;
      margin: 0;
      width: 200%;
      overflow: hidden;
      background-position: 0 50%;

      .avatar-loading{
        color: white;
        width: 50%;
        height: 100%;
        background: rgba(0,0,0, .4);
        position: absolute;
        z-index: 100;
        text-align: center;
      }
      li{
        width: 50%;
        float: left;
        position: relative;
        height: 100%;
        background-image: $default-avatar-profile;
        background-size: cover;
        background-position: center;
        /*
        * .dummy and .elem are a css hack to set an elements height
        * based on it's width. No JavaScript :)
        */
        .dummy{
          margin-top: 100%; /* Square Ratio */
        }
        .elem{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

      }
      .cover-avatar{
        height: 100%;
        .empty-avatar-flex{
          height: 100%;
          @include flex_container;
          @include flex_align_items(center);
          @include flex_justify_content(center);
          .avatar-item{
            height: 52px;
            width: 52px;
            @include flex_item(0,0, 52px);
          }
        }
      }
      .cover-bio{
        height: 100%;
        .bio-shader{
          height: 100%;
          width: 100%;
          background: rgba(0,0,0,.7);
          padding-bottom: 50px;
          .bio-flex{
            @include flex_container;
            height: 100%;
            width: 100%;
            @include flex_align_items(center);
            @include flex_justify_content(center);
            text-align: center;
            .text{
              color: white;
              margin: 25px;
              font-family: $font-medium;
              font-size: 16px;
              word-wrap: break-word;
              /* For Firefox */
              white-space: pre-wrap;
              word-break: break-all;
            }
          }
        }
      }
    }

    .navbar{
      height: 40px;
      position: absolute;
      top: 0;
      width: 100%;
      table{
        height: 100%;
        width: 100%;
        .back-col, .photos-col{
          width: 50px;
        }
        .photos-col{
          // text-align: right;
          .change-picture-icon{
            height: 30px;
            width: 25px;
            float: right;
            margin-right: 15px;
            background-image: url('unii-icons/misc/change-picture.png');
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
        .back-icon{
          padding-left: 10px;
        }
      }
    }
  }

  .user-actions-bar{
    height: 60px;
    border-top: 1px solid $alt_black;
    border-bottom: 1px solid $alt_black;

    @include flex_container;
    .col{
      @include flex_item(1, 0, 50%);
      height: 100%;
      &:first-child{
        border-right: 1px solid #292929;
      }
      .icon{
        background-position: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }
      .text{
        text-align: center;
        font-family: $font-demi;
        font-size: 14px;
      }
    }
  }


  /*
  * IMAGES
  */

  .photos{
    padding-top: 46px;
    width: 100%;

    .image-thumb{
      width: 33.3%;
      float: left;
      background-image: $image-placeholder;
      background-position: center;
      background-size: cover;
      border: 2px solid black;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      .dummy{
        margin-top: 100%;
      }
    }
  }



  .profile-feed{
    background: black;
  }
  /*
  * Slides
  */


  .no-content-btn-section{
    margin-top: 25px;
    &.fixed{
      position: fixed;
      bottom: 0;
      .db-compose{
        position: fixed !important;
      }
    }
    width: 100%;
    height: 130px;
    .text{
      text-align: center;
      color: white;
      font-family: $font-medium;
      font-size: 15px;
      height: 35px;
      line-height: 35px;
    }
    .icons{
      position: relative;
      height: 100px;
      .sketch-arrow{
        width: 35px;
        height: 35px;
        background-size: auto 100%;
        position: absolute;
        left: 50%;
        top: -5px;
        margin-left: 35px;
      }
      .db-compose{
        position: relative;
      }
    }
  }

}
