@import "shared/colors";
@import "shared/components";

// Thumb Slides

unii-thumb-slides{
  .thumbslide-wrapper{
    position: relative;
    overflow: hidden;
  }
  .next-box{
    position: absolute;
    right: 0;
    -webkit-transform: translate3d(50px,0,0);
    -moz-transform:    translate3d(50px,0,0);
    transform:         translate3d(50px,0,0);
    width: 50px;
    height: 100%;
    &.blue{
      @include blue_gradient;
    }
    &.red{
      @include red_gradient;
    }
    &.green{
      @include green_gradient;
    }
    &.yellow{
      @include yellow_gradient;
    }
    &.orange{
      @include orange_gradient;
    }
    &.purple{
      @include purple_gradient;
    }
    z-index: 90;
    @include transitions;
    &.show_chevron{
      -webkit-transform: translate3d(0,0,0);
      -moz-transform:    translate3d(0,0,0);
      transform:         translate3d(0,0,0);
    }
    .next-chevron{
      background-image: image-url('unii-icons/misc/next-chevron.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50% auto;
      height: 100%;
      width: 100%;
    }
  }
}

.side-scroller{
  overflow-x: scroll;
  border-bottom: 1px solid $alt_black;
  height: 121px;
  position: relative;
  .loading{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .thumb-slides{
    height: 121px;
    @include display_flex;
    .thumb-slide{
      border: 2px solid black;
      width: 125px;
      height: 125px;
      @include webkit('flex', 0 0 125px);
      background-size: cover;
      background-position: center;
      &.bg-dynamic {
        background-image: $image-placeholder;
      }
    }
  }

}



.unii-slideshow{
  width: 100%;
  height: 100%;
  @include display_flex;
  @include webkit('flex-direction', column);
  .flex-row{
    @include webkit('flex', 1 0 auto);
    width: 100%;
    &.slide-controls{
      max-height: 110px;
      overflow-x: hidden;
    }
    &.unii-header{
      max-height: 44px;
    }
  }
  .slides-window{
    // height: 100px;
    overflow: hidden;
    position: relative;
    .slides{
      height: 100%;
      @include display_flex;
      @include webkit('flex-direction', column);
      position: absolute;
      width: 100%;
      .slide{
        @include webkit('flex', 0 0 100%);
        background: $image-placeholder;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
      }
    }
  }

  .slide-controls{
    width: 100%;
    height: 110px;
    // background: red;

    .range-slider{
      height: 55px;
      // background: black;
      padding-top: 18px;
      .text{
        color: white;
        text-align: center;
        font-size: 11px;
        margin: 0;
        .number{
          font-weight: bold;
        }
      }
    }
  }

  .selector { margin-top: 20px; height: 20px;
    #token { 
      margin-top: -4px; height: 20px; width: 50px; margin-left: 0px;
      border-top-style: solid;
      border-top-width: 7px; 
      background: transparent;
      -webkit-transition: margin-left .2s linear;
      transition: margin-left .2s linear;
      &.dragging {
        -webkit-transition: none;
        transition: none;
      }
    }
    .range { 
      background: #818181;
      height: 1px;
      margin: 0;
      padding: 0;
      outline: none;
    }
    .point {position: absolute; background: red; height: 3px; width: 3px;}
  }
}