.ui-phone{

  .input-container{
    position: relative;

    .icon{
      position: absolute;
      top: 0;
      right: 15px;
    }
  }

  .about-wrapper{
    background: #2c2c2c !important;

    .options{
      width: 100%;
      list-style-type: none;
      padding: 0;
      color: white;
      a{
        text-decoration: none;
        display: block;
        color: white;
      }
      li{
        height: 70px;
        line-height: 70px;
        text-align: left;
        padding-left: 20px;
        background: black;
        border-bottom: 1px solid #2c2c2c;
        font-weight: 600;
      }
    }
  }
}