@import "shared/colors";

.user-green{
  background: $user_green !important;
}

.user-blue{
  background: $user_blue !important;
}

.user-red{
  background: $user_red !important;
}

.user-yellow{
  background: $user_yellow !important;
}

.user-orange{
  background: $user_orange !important;
}

.user-purple{
  background: $user_purple !important;
}

.has-text-green{
  span {
    color: $user_green !important;
  }
}

.has-text-blue{
  span {
    color: $user_blue !important;
  }
}

.has-text-red{
  span {
    color: $user_red !important;
  }
}

.has-text-yellow{
  span {
    color: $user_yellow !important;
  }
}

.has-text-orange{
  span {
    color: $user_orange !important;
  }
}

.has-text-purple{
  span {
    color: $user_purple !important;
  }
}
