@import "shared/variables";
@import "shared/colors";
@import "shared/components";

.verify-wrapper {
  text-align: center;
  color: white;
  .verify-graphic {
    margin: 19px 0 29pt;
    img {
      margin: 0 auto;
      max-width: 30%;
    }
  }
  .text {
    .header {
      font-family: $font-demi;
      font-size: 20px;
      margin: 0;
    }
    .subtext {
      font-family: $font-regular;
      font-size: 13px;
      margin: 25px 0;
      .email {
        font-size: 20px;
        color: $user_green;
        display: block;
        margin: 8pt 0;
      }
      a {
        margin-top: 10px;
        font-family: $font-demi;
        font-size: 16px;
        color: white;
        text-decoration: underline;
      }
    }
    .errors { float: left; width: 100%; }
    form {
      margin-top: 84px;
      @include field_definition();
      input {
        font-size: 20px;
        color: $user_green;
        display: inline-block;
      }
      .field { text-align: right;
        img { vertical-align: top; }
      }
    }
  }
  .verify-btn {
    line-height: inherit;
    height: auto;
    margin: 25px 0;
  }
  .switch-acct{
    font-family: $font-regular;
    font-size: 13px;
    margin-top: 18px;
    text-decoration: underline;
  }
  .box {
    width: 154px;
    height: 109px;
    .top {
      padding-top: 29px;
      padding-bottom: 29px;
      img {
        margin-bottom: 10px;
      }
    }
  }
}