@import "shared/variables";
@import "shared/components";

.ui-phone{

  .link-feed-flex{
    width: 100%;
    height: 100%;
    @include flex_container;
    @include flex_direction(vertical, column);
    @include flex_align_items(center);
    @include flex_justify_content(center);
    .row{
      @include flex_item(0, 0, auto);
      text-align: center;
      width: 100%;
      padding: 0 25px;
    }
    .title{
      font-family: $font-block;
      font-size: 25px;
      color: white;
      &.url{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .summary{
      font-family: $font-block;
      font-size: 18px;
      color: #787878;
    }
    .domain{
      font-family: $font-block;
      font-size: 20px;
      color: #64bce3;
      margin-top: 20px;
    }

  }


  .view-page-wrapper{
    width: 100%;
    height: 100%;

    .link-bg{
      height: 100%;
      background-position: center center;
      background-size: cover;
      a{
        text-decoration: none;
      }

    }



    /*
    * Base View
    */
    .comment-modal{
      // height: 44px;
    }
    .post-view-content, .actions-modal{
      height: 100%;
    }
    .comment-widget{
      height: 0px;
    }
    .comments-section {
      margin-bottom: 0px;
    }
    .single-image{
      background-size: 100% auto;
    }
    .post-view-content{
      @include transitions;
      .single-image{
        height: 100%;
        width: 100%;
        position: relative;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        @include transitions;
        &.bg-dynamic {
          background-image: $image-placeholder;
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          color: white;
        }
      }
      .gallery{
        height: 100%;
        width: 100%;
        position: relative;
        .albums{
          height: 100%;
        }
      }
    }

    .view.timestamp{
      position: fixed;
      right: 15px;
      color: white;
      z-index: 90;
      font-size: 10px;
      top: 15px;
      &.black{
        color: black;
      }
    }

    .comment-modal{
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 3;
      @include transitions;

      .comments-section{
        .comments-loading{
          text-align: center;
          margin: 5px 0;
        }
        .comment{
          margin: 5px 0;
        }
        .comment-flex{
          @include display_flex;
          .col{
            @include webkit(flex, 1);
            &.left{
              max-width: 55px;
              text-align: right;
            }
            &.center{
              padding-left: 7px;
              color: white;
              .name{
                font-size: 13px;
              }
              .text{
                font-size: 12px;
                position: relative;
                display: block;
              .icons{
                position: absolute;
                width: 30px;
                bottom: 0;
                right: -45px;
                color: white;

              }
              .small-star{
                height: 15px;
                width: 15px;
                background-size: auto 100%;
                display: inline-block;
              }
              }
            }
            &.right{
              max-width: 50px;
              text-align: center;
              position: relative;

            }
          }
        }
      }

      .post-actions-bar{
        height: 44px;
        @include transitions;

        span.favourites-count{
          margin-left: 5px;
        }
      }

      .comment-widget{
        @include black_radial_gradient;
        border-top: 1px solid #2c2c2c;
        position: absolute;
        .comment-flex{
          @include display_flex;
          .col{
            @include webkit(flex, 1);

            &.left{
              max-width: 55px;
              text-align: right;
              .avatar{
                position: relative;
                top: 3px;
              }
            }
            &.center{
              /* background: red; */
              text-align: center;
              @include display_flex;
              .flex-item{
                @include webkit(flex, 1);
                &.input-col{
                  text-align: left;
                  @include placeholder_color(white);
                  .hidden-textarea{
                    width: 85%;
                    padding: 12px 5px 0 10px;
                    font-family: $font-medium;
                    font-size: 15px;
                  }
                  textarea{
                    width: 100%;
                    padding: 12px 5px 0 7px;
                    height: 44px;
                    min-height: 44px;
                    max-height: 150px;
                    background: rgba(0,0,0,0);
                    border: none;
                    outline: none;
                    color: white;
                    font-family: $font-medium;
                    font-size: 15px;
                    resize: none;
                  }
                }
                &.btn-col{
                  max-width: 100px;
                  text-align: center;
                }
              }
              .post-comment-btn{
                height: 34px;
                width: 80px;
                line-height: 34px;
                padding: 0;
                margin-top: 5px;
                &.disabled{
                  background: #f1f1f1;
                  color: #cdcdcd;
                }
              }
            }
          }
        }

        bottom: 0;
        width: 100%;
        border-top: 1px solid #292929;
        overflow: hidden;
        @include transitions;

      }
    }



    .comments-poster-sections{
      overflow-y: scroll;
      height: 0vh;
      @include transitions;
      background-color: black;
    }

    /*
    * Viewing Comments
    */
    &.viewing_comments{
      .comments-poster-sections{
        // height: 55%; // Fallback for browsers that do not support css calc
        // height: -webkit-calc(50% + 44px);
        // height: calc(50% + 44px);
        height: 50vh;

      }
      .post-view-content, .actions-modal{
        height: 50%;
      }
      $widgetHeight: 45px;
      .comment-widget{
        height: $widgetHeight;
      }
      .comments-section {
        margin-bottom: $widgetHeight;
      }
      .post-actions-bar{
        height: 44px;
      }
      .single-image{
        background-size: 125% auto;
      }
      .comment-modal{
        // height: auto;
      }
    }
    &.gallery{
      .post-view-content{
        height: 100%;
      }
    }

    /*
    * Creating a Comment
    */
    &.creating_comment{
      .comment-modal{
        height: 100%;
      }
      .comment-widget{
        height: auto;
      }
      .post-actions-bar{
        height: 44px;
      }
      .comments-section {
        margin-bottom: 30%;
      }
      .comments-poster-sections {
        height: 100vh;
      }
    }

    /*
    * Favourites Modal
    */
    .favourites-modal{
      height: 0px;
      .favourites-navbar {
        height: 0px;
      }
      &.open{
        display: block;
        height: 100%;
        .favourites-navbar {
          height: 44px;
        }
        .scroller {
          display: block;
        }
      }
    }
  }
}
