%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.compose-page{'data-unii-post-composer' => true, 'ng-class' => "::userSettings.color.name"}

  %unii-header.fixed.white
    .col.left.cross.icon.large{'ng-click' => "cancel_post()"}
    .col.center
    .col.right.btn-col
      -# Create post button
      %button#submit_post.button.small.uc-background{'ng-disabled' => "ui.creating_post || (!post_form.content && !media_queue.length)", 'ng-click' => "create_post()"}
        %span{'ng-hide' => "ui.creating_post"} {[= post_nav ]}
        %span.spinner{'ng-show' => "ui.creating_post"}
          %img{src: "/images/unii-icons/misc/loading-spokes-black.svg", width: 20}

  .poster-section.compose

    .poster-flex.compose-flex
      .col.left.compose-avatar-col
        .avatar.small{'data-unii-avatar' => true, user: "userSettings"}
          .svg.uc-fill
            :plain
              <svg width="38" height="38" viewBox="0 0 106 106">
                <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
              </svg>
      .col.right.compose-username-col
        %p.name{'ng-bind' => "userSettings.first_name + ' ' + userSettings.last_name "}


  .compose-section
    %form{name: "CreatePostForm", method: "post", id: "create-post-form"}
      %textarea.create-post-text{id: "create-post-text", 'ng-model' => "post_form.content", style: "width: 100%", rows: 1, placeholder: "{[= post_content_field ]}", 'ng-keyup' => "autoGrowTextArea($event)"}

  .attached-media-section{'ng-show' => "media_queue.length > 0"}
    .media-object{'ng-repeat' => "file in media_queue"}
      %span.icon.delete-item.remove-media{'ng-click' => "cancel_file(file, $index)"}
      .media-preview{'data-file-upload-preview' => "file"}

  .compose-actions
    #keyboard.col.keyboard.icon{'ng-class' => "{selected: show_keyboard}"}
    #medias.col.medias.icon{'ng-click' => "add_media()"}


