.view-page-wrapper{'ng-class' => "{viewing_comments: viewingComments, gallery: post.type == 'gallery', creating_comment: ui.creatingComment}"}
  %no-internet{'fixed' => 'true', 'neutral' => 'true'}




  .content-wrapper

    .fixed.icon.floating-back-arrow{'ng-click' => "goBack()"}

    %span.view.timestamp{'ng-class' => "{'black' : timestampObfuscated}", 'unii-card-timestamp' => 'full', object: "post"}

    .post-view-content{'ng-switch' => true, 'on' => "post.type"}

      .single-image.bg-dynamic{'ng-switch-when' => "image", 'data-unii-image' => true, image: "post.medias.data[0]", format: 'post'}

        .images-whiteproof

      .status-view{'ng-switch-when' => "status_update", 'ng-style' => "{'background': '{{ ::post.user.color }}'}"}
        .status-box.nonbounce
          .status-text
            {{ ::post.content }}


      .video{'ng-switch-when' => "video"}
        .video-box
          %video.video-player{'data-unii-video-file' => true, width: "100%", 'controls' => 'true'}


      .gallery{'ng-switch-when' => "gallery"}

        .albums{'ng-class' => "{true: 'albums-9', false: 'albums-{{post.medias.data.length}}'}[post.medias.data.length > 8]"}

          .image-flex.image{'ng-repeat' => "image in post.medias.data | limitTo:9", class: "image-{{$index+1}}", 'ng-click' => "viewSlide(post, $index)", 'ng-if' => "post.medias.data.length != 6"}
            .background-image
              .photo{'data-unii-image' => true, image: "image", format: 'post'}

          -# for 6 photos
          .top-section{'ng-if' => "post.medias.data.length == 6"}

            .image{'ng-repeat' => "image in post.medias.data | limitTo:3 | orderBy:'id'", class: "image-{{$index+1}}", 'ng-click' => "viewSlide(post, $index)", }
              .background-image
                .photo{'data-unii-image' => true, image: "image", format: 'post'}

          .bottom-section{'ng-if' => "post.medias.data.length == 6"}
            .image{'ng-repeat' => "image in post.medias.data | limitTo:-3 | orderBy:'id'", class: "image-{{$index+4}}", 'ng-click' => "viewSlide(post, $index+3)"}
              .background-image
                .photo{'data-unii-image' => true, image: "image", format: 'post'}


      .link.detail{'ng-switch-when' => "link", 'data-unii-link' => true}
        .link-bg
          %a.card-link{'ng-href' => "{{externalLink(post.medias.data[0].url)}}", target: "_blank"}

            .link-feed-flex
              .row.title
                {{ ::post.medias.data[0].metadata.payload.title | uppercase }}

              .row.summary{'data-unii-truncate' => "{content: 'post.medias.data[0].metadata.payload.summary', length: 50, expandable: false}"}

              .row.domain
                {{ ::post.medias.data[0].metadata.domain }}

    .comment-modal{'ng-class' => "::userSettings.color.name"}

      .post-actions-bar

        .post-controls-flex.white{'ng-hide' => "ui.creatingComment"}

          -# view who favourited the post
          .col.favourites{'ng-click' => "openFavourites()", 'post-type' => "{{post.type}}"}
            %span{'ng-show' => "post.favourites_count"}
              %span.count.small.upcase {[= favourites_nav ]}
              %span.count.small
                {{ (post.favourites_count>=1000)?(post.favourites_count/1000).toFixed(0)+'K':(post.favourites_count) }}
          -# view post actions menu
          .col.actions{'ng-click' => "createMenu($event)"}

            .dots.icon.post-menu.white

          -# view comments of post
          .col.comments{'ng-click' => "viewComments()"}
            %span.icon.comment.white
            %span.count.number
              {{ (post.comments_count>=1000)?(post.comments_count/1000).toFixed(0)+'K':(post.comments_count) }}

          -# favourite post
          .col.like{'data-unii-toggle-favourite-post' => true, post: "post", referrer: "post"}
            %span.icon.star{'ng-class' => "{favourited: post.user_favourited, status_update: post.type == 'status_update'}"}
            %span.count.number
              {{ (post.favourites_count>=1000)?(post.favourites_count/1000).toFixed(0)+'K':(post.favourites_count) }}


      .comments-poster-sections.nonbounce{'ng-if' => "post"}

        .poster-section

          .poster-flex
            .col.left
              .avatar.large{'data-unii-avatar' => true, user: "post.user"}
                .svg{ng_style: "{'fill': post.user.color}"}
                  :plain
                    <svg width="52" height="52" viewBox="0 0 106 106">
                      <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
                    </svg>
            .col.right{'ng-class' => "{true: 'nocontent'}[!post.content || post.type == 'status_update']"}
              %p.name{'ng-style' => "{'color': '{{ ::post.user.color }}'}"} {{ ::post.user.name }}
              %p.text{'ng-if' => "::post.type != 'status_update'"}
                {{ ::post.content }}

        .comments-section

          -# if more than one page of comments
          .view-previous-comments-btn{'ng-click' => "fetchComments(post.comments.pagination)", 'ng-hide' => "!showMoreComments"} {[= previous_comments_nav ]}

          .comments-loading
            .spinner{'ng-show' => "loadingComments"}
              %img{src: "/images/unii-icons/misc/loading-spokes-white.svg", width: 20}

          .comment{'ng-repeat' => "comment in post.comments.data"}
            .comment-flex
              .col.left
                .avatar.small{'data-unii-avatar' => true, user: "::comment.user"}
                  .svg{ng_style: "{'fill': comment.user.color}"}
                    :plain
                      <svg width="38" height="38" viewBox="0 0 106 106">
                        <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
                      </svg>
              .col.center

                .name{'ng-style' => "{'color':'{{::comment.user.color}}'}"} {{ ::comment.user.name }}
                .text
                  %span
                    {{ ::comment.content }}
                  .icons
                    .icon.small-star{'ng-class' => "{false: 'unfavourited'}[comment.user_favourited]"}
                    %span.likes_count {{comment.favourites_count}}
              .col.right{'ng-click' => "transitionComment(comment)"}


          -# if no comments
          .no-comments{style: "color: {{ ::post.user.color }}", 'ng-hide' => "post.comments.data.length"} {[= comments_empty_title ]}


        .comment-widget{'data-unii-create-comment' => true}
          .comment-flex
            .col.left.avatar-small
              .avatar.small{'data-unii-avatar' => true, user: "::userSettings"}
                .svg.uc-fill
                  :plain
                    <svg width="38" height="38" viewBox="0 0 106 106">
                      <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
                    </svg>
            .col.center.comment-text
              .flex-item.input-col
                %textarea#comment-form-text.comment-form-text{type: "text", 'ng-model' => "$parent.comment_form.content", placeholder: "{[= comment_content_field ]}", 'data-unii-comment-input' => true, 'ng-keyup' => "setCommentHeight()", 'ng-disabled' => "sending_comment"}
                .hidden-textarea {{$parent.comment_form.content}}
              .flex-item.btn-col
                %button#post-comment.button.post-comment-btn.uc-background{type: 'submit', 'ng-class' => "{true: 'disabled'}[!$parent.comment_form.content]", 'ng-disabled' => "!$parent.comment_form.content || sending_comment"}
                  %span{'ng-hide' => "sending_comment"} {[= post_nav ]}
                  %span.spinner{'ng-show' => "sending_comment"}
                    %img{src: "/images/unii-icons/misc/loading-spokes-black.svg", width: 20}


  .favourites-modal{'ng-class' => "{open: viewingFavourites}"}
    .favourites-navbar{'ng-click' => 'closeFavourites()'}
      .col.left.icon.cross
      .col.center {[= favourited_by_nav ]}
      .col.right
    .scroller.nonbounce
      .favourites-container{'infinite-scroll' => "paginateFavourites()", 'infinite-scroll-distance' => '2', "infinite-scroll-immediate-check" => "false", 'infinite-scroll-disabled' => "loadingFavourites || endFavourites"}

        .favourites-flex
          .favourite{'ng-repeat' => "favourite in favourites"}
            .col.left
              .avatar.small{'data-unii-avatar' => true, user: "::favourite.user"}
                .svg{ng_style: "{'fill': favourite.user.color}"}
                  :plain
                    <svg width="38" height="38" viewBox="0 0 106 106">
                      <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
                    </svg>
            .col.center
              .name{'ng-style' => "{'color':'{{::favourite.user.color}}'}"} {{ ::favourite.user.name }}
            .col.right

        .spinner{style: "text-align:center;padding: 10px;"}
          %img{src: "/images/unii-icons/misc/loading-spokes-white.svg", width: 20, style: "position:relative;left:-3px;", 'ng-show' => "loadingFavourites"}



