
.document-window.scrolling

  %unii-header.fixed
    .col.left.icon.floating-back-arrow{'ng-click' => "goBack()"}
    .col.center
    .col.right

  .docs-wrapper

    %h2 Unii Terms of Service
    %h4 1. INTRODUCTION
    %p 1.1 You agree that if you register and / or use the UNII app (Site), including our mobile applications or developer platform you are entering into a legally binding agreement with UNII Limited, 10 Orange Street, London, WC2H 7DQ (UNII).
    %p 1.2 The mission of Unii is to create a social network (Network) of students (Members). Participation in the Network will allow students to connect with each other and create their own personal network. The Network will also include:
    %p 1.3 The Services are open for Members to use for no fee.


    %h4 2. MEMBERSHIP
    %p 2.1 How to Join?
    %p 2.1.1 Membership is open to any student aged sixteen and over who is studying at any UK University, College of Higher Education or applying through UCAS. At our discretion we will also permit employees of universities to participate. In order to successfully register you have to have a current.ac.uk email address.
    %p 2.1.2 When you open a UNII account (Account) you agree to not publish inaccurate information in the designated fields on the profile form.
    %p 2.1.3 To be eligible to use the Services, you represent and warrant that you are not currently restricted from the Services, or not otherwise prohibited from having an Account and are not a competitor of UNII or are not using the Services for reasons that are in competition with or detrimental to UNII.
    %p 2.1.4 In order to open an Account you will disclose to us:
    %ul
      %li your name;
      %li your date of birth;
      %li your sex;
      %li your email addresses (university and personal);
      %li the university you attend (or have applied for);
      %li your course (or proposed course);

    %p 2.1.5 You are advised to choose a password which is “strong” (i.e. combination of cases, letters, numbers and symbols). You agree not to reveal the password to anyone.
    %p 2.1.6 If your password infringes the rights (e.g. trade marks) of any third party we reserve the right to block it and invite you to change the password.
    %p 2.1.7 If you do not want to register an Account and become a UNII Member, do not conclude the User Agreement, do NOT click “I agree to” and do not access, view, download or otherwise use any UNII webpage, information or services.
    %p 2.1.8 By clicking “I agree to,” you acknowledge that you have read and understood the terms and conditions of this User Agreement and that you agree to be bound by all of its provisions. By clicking “Join Now,” you also consent to use electronic signatures and acknowledge your click of the “I agree to” button as one.
    %p 2.1.9 Please note that the UNII User Agreement and Cookie Policy are also collectively referred to as UNII’s Terms of Service (Terms). There is no separate Privacy Policy- section 4 of this User Agreement sets out what personal data is retained and for what purpose.
    %p 2.2 Account Management
    %p 2.2.1 You will not create more than one Account.
    %p 2.2.2 If we close your Account you will not create another Account.
    %p 2.2.3 You will not permit others to use your Account.
    %p 2.2.4 You will not use other Members’ accounts.
    %p 2.2.5 You will not sell, trade, or otherwise transfer your Account to another party.
    %p 2.2.6 You will update any information you disclose to the Network (including if you switch, leave or finish any studies).
    %p 2.2.7 It is your responsibility to protect sensitive personal information such as your email address, phone number, street address, or other information that is confidential in nature.
    %h4 3. SERVICES
    %p 3.1 The Network
    %p 3.1.1 The Network provides an opportunity for Members to get to know other students and share knowledge, interact and correspond on topics of mutual interest.
    %p 3.1.2 Members can create their own groups of Members but UNII may close or transfer any group if the formation or operation of the groups is in breach of this User Agreement or infringes upon the rights of others or in UNII’s opinion is in any way is detrimental to its business interests.
    %p 3.1.3 Please note that ideas you post and information you share may be seen and used by other Members, and UNII cannot guarantee that other Members will not use the ideas and information that you share on the Network. UNII IS NOT RESPONSIBLE FOR A USER’S MISUSE OR MISAPPROPRIATION OF ANY CONTENT OR INFORMATION YOU POST ONTO THE SITE.
    %h4 4. PRIVACY
    %p 4.1 You recognise that:
    %p 4.1.1 we will retain the personal data you disclose to us in order to open your Account;
    %p 4.1.2 some of the personal data you disclose will be sensitive personal data and that you acknowledge that you have voluntarily disclosed this data to us;
    %p 4.1.3 when you interact with the Site including snapshots of use and with the platform we use we will collect your IP address, browser type, operating system, and receive the URLs of site from which you or leave the Site;
    %p 4.1.4 you will share your personal data which you disclose with other Members;
    %p 4.1.5 the internet is not a 100% secure environment and we cannot guarantee the security of any information you transmit to the Site;
    %p 4.1.6 we may from time to time use your data to identify whether you are a suitable candidate for employment vacancies and we will contact you accordingly;
    %p 4.1.7 it is your responsibility to maintain the secrecy of your password;
    %p 4.1.8 the Site uses cookies to distinguish you from other Members of the Site. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. For detailed information on the cookies we use and the purposes for which we use them see our Cookie policy.
    %p 4.2 UNII confirms that:
    %p 4.2.1 the data controller and data processor is UNII Limited.
    %p 4.2.2 you have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes.
    %p 4.2.3 we may disclose your personal information to third parties if we sell the share capital UNII or UNII’s assets in which case personal data held by UNII about UNII’s customers will be one of the transferred assets.
    %h4 5. THIRD PARTIES
    %p 5.1.1 The UNII website and applications may include links to tradingpoll.com and third party web sites (Third Party Sites). UNII also enables third party developers (Platform Developers) to create applications (Platform Applications) that provide features and functionality using data and developer tools made available by UNII through its developer platform.
    %p 5.1.2 You are responsible for evaluating whether you want to access or use a Third Party Site or Platform Application. You should review any applicable terms and/or privacy policy of a Third Party Site or Platform Application before using it or sharing any information with it, because you may give the operator permission to use your information in ways we would not.
    %p 5.1.3 UNII is not responsible for and does not endorse any features, content, advertising, products or other materials on or available from Third Party Sites or Platform Applications. UNII also does not screen, audit, or endorse Platform Applications. Accordingly, if you decide to access Third Party Sites or use Platform Applications, you do so at your own risk and agree that your use of any Platform Application is on an “as-is” basis without any warranty as to the Platform Developer’s actions, and that this User Agreement does not apply to your use of any Third Party Site or Developer Application.
    %p 5.1.4 Please note: If you allow an Platform Application or Third Party Site to authenticate to or connect with your Account, that application or website can access information on UNII related to you and your connections.
    %h4 6. YOUR OBLIGATIONS
    As a condition to access UNII, you agree to this User Agreement and to strictly observe the following DOs and DON’Ts:
    %p 6.1 Do undertake the following:
    %p 6.1.1 provide accurate information to us and update it as necessary;
    %p 6.1.2 review and comply with this User Agreement;
    %p 6.1.3 review and comply with notices sent by UNII concerning the Services;
    %p 6.1.4 comply with all applicable laws;and
    %p 6.1.5 use the Services in a professional manner.
    %p 6.2 Don’t undertake the following:
    %p 6.2.1 post inappropriate, inaccurate, or objectionable content to UNII;
    %p 6.2.2 engage in unlawful multi level marketing such as a pyramid scheme;
    %p 6.2.3 create a user profile for anyone other than a natural person;
    %p 6.2.4 use the Network to bully, harass, abuse or harm other persons, including sending unwelcomed communications to others using the UNII;
    %p 6.2.5 invite people you do not know to join your personal network on the Network;
    %p 6.2.6 upload a profile image that is not your likeness or a head-shot photo or in anyway create, used, impersonate a false identity on UNII;
    %p 6.2.7 use or attempt to use another's account without authorization from the Company;
    %p 6.2.8 publish information which is unlawful, libelous, abusive, obscene, discriminatory or otherwise objectionable or infringes the rights (including intellectual property rights) of others;
    %p 6.2.9 attempt to or actually override any security component included in or underlying UNII;
    %p 6.2.10 engage in any action that directly or indirectly interferes with the proper working of or places an unreasonable load on UNII ’s infrastructure, including, but not limited to, sending unsolicited communications to other Members or UNII personnel, attempting to gain unauthorized access to UNII, or transmitting or activating computer viruses through or on UNII or download programs that interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment of UNII.
    %h4 7. OWNERSHIP OF DATA
    %p 7.1.1 As a condition of participating in the Network you agree that UNII will own any information you provide UNII under this User Agreement. You may request its deletion at any time, unless you have shared information or content with others and they have not deleted it, or it was copied or stored by other Members.
    %p 7.1.2 Any information you submit to us is at your own risk of loss.
    %p 7.1.3 By providing information to us, you represent and warrant that you are entitled to submit the information and that the information is accurate, not confidential, and not in violation of any contractual restrictions or other third party rights. It is your responsibility to keep your UNII profile information accurate and updated.
    %p 7.1.4 By submitting ideas, suggestions, documents, and/or proposals (Contributions) to UNII through its suggestion or feedback webpages, you acknowledge and agree that:
    %p 7.1.4.1 your Contributions do not contain confidential or proprietary information;
    %p 7.1.4.2 UNII is not under any obligation of confidentiality, express or implied, with respect to the Contributions;
    %p 7.1.4.3 UNII shall be entitled to use or disclose (or choose not to use or disclose) such Contributions for any purpose, in any way, in any media worldwide;
    %p 7.1.4.4 UNII may have something similar to the Contributions already under consideration or in development;
    %p 7.1.4.5 you irrevocably assign to UNII all rights to your Contributions; and
    %p 7.1.4.6 you are not entitled to any compensation or reimbursement of any kind from UNII under any circumstances.
    %h4 8. NOTIFICATIONS AND SERVICE MESSAGES
    %p 8.1.1 For purposes of service messages and notices about the Services to you, UNII may place a banner notice across its pages to alert you to certain changes such as modifications to this User Agreement. Alternatively, notice may consist of an email from UNII to an email address associated with your Account, even if we have other contact information. You also agree that UNII may communicate with you through your Account or through other means including email, mobile number, telephone, or delivery services including the postal service about your Account or services associated with UNII. You acknowledge and agree that we shall have no liability associated with or arising from your failure to maintain accurate contact or other information, including, but not limited to, your failure to receive critical information about the Service.
    %h4 9. UNII APPLICATIONS
    %p 9.1.1 UNII may offer the Services through applications built using UNII’s platform. If you use a UNII Application or interact with a website that has deployed a plugin, you agree that information about you and your use of the Services, including, but not limited to, your device, your mobile carrier, your internet access provider, your physical location, and/or web pages containing UNII plugins that load in your browser may be communicated to us.
    %p 9.1.2 Further, by importing any of your UNII data through the UNII Application, you represent that you have authority to share the transferred data with your mobile carrier or other access provider. In the event you change or deactivate your mobile account, you must promptly update your Account information to ensure that your messages are not sent to the person that acquires your old number and failure to do so is your responsibility. You acknowledge you are responsible for all charges and necessary permissions related to accessing UNII through your mobile access provider. Therefore, you should check with your provider to find out if the Services are available and the terms for these services for your specific mobile devices.
    %p 9.1.3 Finally, by using any downloadable application to enable your use of the Services, you are explicitly confirming your acceptance of the terms of the any “end user license agreement” associated with the application provided at download or installation, or as may be updated from time to time.
    %h4 10. YOUR RIGHTS
    On the condition that you comply with all your obligations under this User Agreement, including, but not limited to, the Do’s and Don’ts listed in Section 6, we grant you a limited, revocable, nonexclusive, nonassignable, nonsublicenseable license and right to access the Services, through a generally available web browser, mobile device or application (but not through scraping, spidering, crawling or other technology or software used to access data without the express written consent of UNII), view information and use the Services that we provide on UNII webpages and in accordance with this User Agreement. Any other use of UNII contrary to our mission and purpose (such as seeking to connect to someone you do not know or trust, or to use information gathered from UNII commercially unless expressly authorized by UNII) is strictly prohibited and a violation of this User Agreement. We reserve all rights not expressly granted in this User Agreement, including, without limitation, title, ownership, intellectual property rights, and all other rights and interest in UNII and all related items, including any and all copies made of the UNII website.
    %h4 11. OUR RIGHTS AND OBLIGATIONS
    %p 11.1 Services Availability
    For as long as UNII continues to offer the Services, UNII shall provide and seek to update, improve and expand the Services. As a result, we allow you to access UNII as it may exist and be available on any given day and have no other obligations, except as expressly stated in this User Agreement. We may modify, replace, refuse access to, suspend or discontinue UNII, partially or entirely, or change and modify prices for all or part of the Services for you or for all our Members in our sole discretion. All of these changes shall be effective upon their posting on our site or by direct communication to you unless otherwise noted. UNII further reserves the right to withhold, remove and or discard any content available as part of your account, with or without notice if deemed by UNII to be contrary to this User Agreement. For avoidance of doubt, UNII has no obligation to store, maintain or provide you a copy of any content that you or other Members provide when using the Services.
    %p 11.2 Disclosure of User Information
    %p 11.2.1 You acknowledge, consent and agree that we may access, preserve, and disclose your registration and any other information you provide if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary in our opinion to:
    %p 11.2.1.1 comply with legal process, including, but not limited to, civil and criminal subpoenas, court orders or other compulsory disclosures;
    %p 11.2.1.2 enforce this User Agreement;
    %p 11.2.1.3 respond to claims of a violation of the rights of third parties, whether or not the third party is a User, individual, or government agency;
    %p 11.2.1.4 respond to customer service inquiries; or
    %p 11.2.1.5 protect the rights, property, or personal safety of UNII, our Members or the public.
    %p 11.3 Connections and Interactions with other Members
    %p 11.3.1 You are solely responsible for your interactions with other Members. UNII may limit the number of connections you may have to other Members and may, in certain circumstances, prohibit you from contacting other Members through use of the Services or otherwise limit your use of the Services. UNII reserves the right, but has no obligation, to monitor disputes between you and other members and to restrict, suspend, or close your account if UNII determines, in our sole discretion, that doing so is necessary to enforce this User Agreement.
    %h4 12. DISCLAIMER
    %p 12.1.1 DO NOT RELY ON UNII, ANY INFORMATION THEREIN, OR ITS CONTINUATION. WE PROVIDE THE PLATFORM FOR UNII AND ALL INFORMATION AND SERVICES ON AN “AS IS” AND “AS AVAILABLE” BASIS. UNII DOES NOT CONTROL OR VET USER GENERATED CONTENT FOR ACCURACY. WE DO NOT PROVIDE ANY EXPRESS WARRANTIES OR REPRESENTATIONS.
    %p 12.1.2 TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, WE DISCLAIM ANY AND ALL IMPLIED WARRANTIES AND REPRESENTATIONS, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, ACCURACY OF DATA, AND NONINFRINGEMENT. IF YOU ARE DISSATISFIED OR HARMED BY UNII OR ANYTHING RELATED TO UNII, YOU MAY CLOSE YOUR UNII ACCOUNT AND TERMINATE THIS USER AGREEMENT IN ACCORDANCE WITH SECTION 14 (TERMINATION) AND SUCH TERMINATION SHALL BE YOUR SOLE AND EXCLUSIVE REMEDY.
    %p 12.1.3 UNII IS NOT RESPONSIBLE, AND MAKES NO REPRESENTATIONS OR WARRANTIES FOR THE DELIVERY OF ANY MESSAGES (SUCH AS INMAILS, POSTING OF ANSWERS OR TRANSMISSION OF ANY OTHER USER GENERATED CONTENT) SENT THROUGH UNII TO ANYONE. IN ADDITION, WE NEITHER WARRANT NOR REPRESENT THAT YOUR USE OF THE SERVICE WILL NOT INFRINGE THE RIGHTS OF THIRD PARTIES. ANY MATERIAL, SERVICE, OR TECHNOLOGY DESCRIBED OR USED ON THE WEBSITE MAY BE SUBJECT TO INTELLECTUAL PROPERTY RIGHTS OWNED BY THIRD PARTIES WHO HAVE LICENSED SUCH MATERIAL, SERVICE, OR TECHNOLOGY TO US.
    %p 12.1.4 UNII DOES NOT HAVE ANY OBLIGATION TO VERIFY THE IDENTITY OF THE PERSONS SUBSCRIBING TO ITS SERVICES, NOR DOES IT HAVE ANY OBLIGATION TO MONITOR THE USE OF ITS SERVICES BY OTHER MEMBERS OF THE COMMUNITY; THEREFORE, UNII DISCLAIMS ALL LIABILITY FOR IDENTITY THEFT OR ANY OTHER MISUSE OF YOUR IDENTITY OR INFORMATION.
    %p 12.1.5 UNII DOES NOT GUARANTEE THAT THE SERVICES IT PROVIDES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS IN FUNCTIONING. IN PARTICULAR, THE OPERATION OF THE SERVICES MAY BE INTERRUPTED DUE TO MAINTENANCE, UPDATES, OR SYSTEM OR NETWORK FAILURES. UNII DISCLAIMS ALL LIABILITY FOR DAMAGES CAUSED BY ANY SUCH INTERRUPTION OR ERRORS IN FUNCTIONING. FURTHERMORE, UNII DISCLAIMS ALL LIABILITY FOR ANY MALFUNCTIONING, IMPOSSIBILITY OF ACCESS, OR POOR USE CONDITIONS OF THE UNII SITE DUE TO INAPPROPRIATE EQUIPMENT, DISTURBANCES RELATED TO INTERNET SERVICE PROVIDERS, TO THE SATURATION OF THE INTERNET NETWORK, AND FOR ANY OTHER REASON.
    %h4 13. INDEMNIFICATION
    %p 13.1.1 You indemnify us and hold us harmless for all damages, losses and costs (including, but not limited to, reasonable attorneys’ fees and costs) related to all third party claims, charges, and investigations, caused by:
    %p 13.1.1.1 your failure to comply with this User Agreement, including, without limitation, your submission of content that violates third party rights or applicable laws;
    %p 13.1.1.2 any content you submit to the Services; and
    %p 13.1.1.3 any activity in which you engage on or through UNII.
    13.1.2 Should you offer access or procure access to the Network to any third party who would otherwise not be a Member which as a consequence participates in the Network and this unlawful participation leads UNII to in any way suffer loss then you and that third party will indemnify UNII from and against such loss.
    %p 13.1.3 In particular you acknowledge that the right to exploit the personal data pertaining to the Network belongs to UNII and that the commercial appeal of the Network is that it allows the Members to share their experiences as a student and meet other Members and to do so on a private basis and that should you (and this includes facilitating or a permitting a third party to) do anything that reduces the interest that students may have in, or the appeal of, the Network then this will be a liability you will jointly share with that third party and both parties will indemnify UNII. Accordingly should you have any such dealings with a third party UNII will proceed on the basis that the third party is aware of this provision and its consequences.
    %h4 14. TERMINATION
    %p 14.1 Mutual rights of termination
    %p 14.1.1 You may terminate this User Agreement, for any or no reason, at any time, with notice to UNII. This notice will be effective upon UNII processing your notice. This cancellation shall be effective immediately or as may be specified in the notice. Termination of your membership includes disabling your access to UNII and may also bar you from any future use of UNII.
    %p 14.1.2 UNII may terminate the User Agreement and your account for any reason or no reason, at any time, with or without notice. This cancellation shall be effective immediately or as may be specified in the notice. Termination of your membership includes disabling your access to UNII and may also bar you from any future use of UNII.
    %p 14.2 Misuse of the Services
    %p 14.2.1 UNII may restrict, suspend or terminate the account of any Member who abuses or misuses the Services. Misuse of the Services includes inviting other Members with whom you do not know to connect, abusing the UNII messaging services, creating multiple or false profiles’ using the Services commercially without UNII’s authorization, infringing any intellectual property rights, violating any of the Do’s and Don’ts listed in Section 6, or any other behaviour that UNII, in its sole discretion, deems contrary to its purpose.
    %p 14.3 Effect of Termination
    %p 14.3.1 Upon the termination of your UNII account, you lose access to the Services. The applicable terms of this User Agreement shall survive any termination.
    %h4 15. DISPUTE RESOLUTION
    %p 15.1 Law and Forum for Legal Disputes
    %p 15.1.1 This User Agreement or any claim, cause of action or dispute arising out of or related to this User Agreement shall be governed by the laws of England and Wales whose courts shall have exclusive jurisdiction.
    %h4 16. GENERAL TERMS
    %p 16.1 Severability
    %p 16.1.1 If any provision of this User Agreement is found by a court of competent jurisdiction or arbitrator to be illegal, void, or unenforceable, the unenforceable provision will be modified so as to render it enforceable and effective to the maximum extent possible in order to effect the intention of the provision, and if a court or arbitrator finds the modified provision invalid, illegal, void or unenforceable, the validity, legality and enforceability of the remaining provisions of this User Agreement will not be affected in any way.
    %p 16.2 Notices and Service of Process
    %p
      16.2.1 We may notify you via postings on www.unii.com.
    %p 16.2.2 You may contact us here.
    %p 16.3 Entire Agreement
    %p 16.3.1 You agree that this User Agreement constitutes the entire, complete and exclusive agreement between you and us regarding the Services and supersedes all prior agreements and understandings, whether written or oral, or whether established by custom, practice, policy or precedent, with respect to the subject matter of this User Agreement. You also may be subject to additional terms and conditions that may apply when you use or purchase certain other UNII services, third-party content or third party software.
    %p 16.4 Amendments to this Agreement
    %p 16.4.1 We reserve the right to modify, supplement or replace the terms of the User Agreement, effective upon posting at www.unii.com or notifying you otherwise. For example, UNII presents a banner on the site when we have amended this User Agreement or the Privacy Policy so that you may access and review the changes prior to your continued use of the Site. If you do not want to agree to changes to the User Agreement, you can terminate this User Agreement at any time per Section 14 (Termination).
    %p 16.5 No informal waivers, agreements or representations
    %p 16.5.1 Our failure to act with respect to a breach of this User Agreement by you or others does not waive our right to act with respect to that breach or subsequent similar or other breaches.
    %p 16.6 Third Party Rights
    %p 16.6.1 No third party shall have any right to enforce any term of this User Agreement.
    %p 16.7 Assignment and Delegation
    %p 16.7.1 You may not assign or delegate any rights or obligations under the User Agreement. Any purported assignment and delegation shall be ineffective. We may freely assign or delegate all rights and obligations under the User Agreement, fully or partially without notice to you. We may also substitute, by way of unilateral novation, effective upon notice to you, UNII Corporation for any third party that assumes our rights and obligations under this User Agreement.
