.document-window.scrolling

  %unii-header.fixed
    .col.left.icon.floating-back-arrow{'ng-click' => "goBack()"}
    .col.center
    .col.right

  .docs-wrapper

    %h2 Unii Cookie Policy


    %p Unii Limited's use of cookies helps us operate the Network for the benefit of our Members. The definitions here are to be found in the User Agreement.

    %p Cookies are small files of letters and numbers which allow us to distinguish you from other Members. The cookies allow us to provide you with a good experience when you browse our site and also allow us to improve our site. The Functional Cookies store each Member's user name, password, course details and any society they have joined.

    %p You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.

    %p The cookies we use are:
    %p Performance Cookies: These cookies collect information about how our Members use a website, for instance which pages Members go to most often, and if they get error messages from web pages. They also allow us to recognise and count the number of visitors and to see how visitors move around the Site when they are using it. This helps us to monitor how Members find information or use our Services. Some of these are analytics cookies, set using third party web analytics software, which allow us to understand more about how the Site is used. For example, like many companies we use Google Analytics to help us monitor our Site traffic. These cookies don't collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous and does not affect your privacy. It is only used to improve how a website works.

    %p Functional cookies: they allow us to recognise each Member when they return to the Site. Using the knowledge of your previous visits to our website, Unii Limited can enhance subsequent visits by tailoring our content to match your requirements and can automatically recall your password. These functional cookies store personally identifiable information. In the unlikely event that our websites use cookies to store personal information about you, Unii Limited encrypts the personal data to prevent unauthorised use by anyone else.

    %p We use cookies principally because we want to make our websites user-friendly, and we are interested in anonymous user behaviour.

    %h4 3rd Party Cookies and Social Networks

    %p If you 'share' content from Unii Limited's websites with friends or colleagues through social networks), you may be sent cookies from these third party websites. Third party websites will have their own privacy and cookie policies which Unii Limited cannot control. Please check the third-party websites for more information about their cookies and how to manage them.

    %p Please note that our advertisers may also use cookies, over which we have no control.
