.edit-me-wrapper.about-wrapper

  %unii-header.white
    .col.left.back-arrow-black.icon{'ng-click' => "goBack()"}
    .col.center {[= about_nav ]}
    .col.right.icon


  %ul.options
    %li{'ng-click' => "view_support('support')"} {[= support_nav ]}
    %li{'ng-click' => "view_support('feedback')"} {[= feedback_nav ]}
    %li{'ng-click' => "view_eula()"} {[= terms_nav ]}
    %li{'ng-click' => "view_privacy()"} {[= policy_nav ]}