%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.edit-profile-v2{'ng-class' => "::userColor.name"}

  %form.edit-password{name: 'editPasswordForm'}

    %unii-header.white
      .col.left.back-arrow-black.icon{'ng-click' => "view('meEdit')"}
      .col.center {[= edit_password_nav ]}
      .col.right.icon{'ng-click' => "submit()", 'ng-class' => "{'tick': !sendingForm}"}
        .black.spinner.edit-profile{'ng-show' => "sendingForm"}


    %section.profile-fields

      .server-errors{'ng-if' => "form.errors.length"}
        .error{'ng-repeat' => "error in form.errors"}
          {{ ::error }}
  
      .attribute
        .col.field
          .input-icon.icon.lock

        .col.value
          .item
            %input.password{type: 'password', name: 'currentPassword', placeholder: "{[= current_password_field_placeholder ]}", 'ng-class' => "{empty: !form.current_password}", 'ng-model' => "form.current_password"}

      .attribute
        .col.field
          .input-icon.icon.lock

        .col.value
          .item
            %input.password{type: 'password', name: 'password', placeholder: "{[= new_password_field_placeholder ]}", 'ng-class' => "{empty: !form.password}", 'ng-model' => "form.password"}

            .error-icon{'ng-show' => "editPasswordForm.password.$dirty && ((form.password.length < 8) || (form.password.length > 128))"}
              %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

      .attribute
        .col.field
          .input-icon.icon.lock
        .col.value
          .item
            %input.password{type: 'password', name: 'passwordConfirmation', placeholder: "{[= new_password_confirmation_field_placeholder ]}", 'ng-class' => "{empty: !form.password_confirmation}", 'ng-model' => "form.password_confirmation"}

            .error-icon{'ng-show' => "editPasswordForm.passwordConfirmation.$dirty && form.password_confirmation != form. password"}
              %img{src: '/images/unii-icons/misc/input-error.png', width: 20}
