%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.edit-profile-v2.nonbounce{'ng-class' => "::userColor.name"}


  %unii-header.white
    .col.left.back-arrow-black.icon{'ng-click' => "view('meEdit')"}
    .col.center {[= edit_courses_nav ]}
    .col.right.icon{'ng-click' => "returnToEdit()", 'ng-class' => "{'tick': !sendingForm}"}
      .black.spinner.edit-profile{'ng-show' => "sendingForm"}


  %section.course-selection.nonbounce

    .col.icon-col
      .input-icon.icon.book

    .col.list-col.nonbounce
      .search-box
        %input#course{type: 'search', name: 'courseSearch', 'ng-model' => "courseSearch", placeholder: "Search"}
      .results-box.nonbounce{'ng-click' => "setCourse($event)"}
        .results-scroller-container.nonbounce
          .spinner.white.bar{'ng-show' => "loadingCourses"}
          .course{'ng-repeat' => "course in courses | filter:courseSearch", id: "{{ ::$index }}_course"}
            .name{'ng-class' => "::{'uc-text': course.id == userProfile.course.id}"} {{ ::course.name }}
        .padding
