%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.avatar-wrapper{'ng-class' => "::userSettings.color.name"}

  .avatar-canvas-window

    .wrapper
      .no-photo{'ng-if' => "mediaQueue.length == 0"} {[= no_avatar_text ]}
      
      .preview-file{'ng-repeat' => "file in mediaQueue"}
        .avatar-preview{'data-file-upload-preview' => "file"}


  .actions-bar.uc-text

    .col.cancel{'ng-click' => "returnToMe()"}
      .text {[= cancel_nav ]}

    .col.accept.needsclick{'ng-click' => "usePhoto()"}
      .text {[= use_photo_nav ]}

