%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.edit-me-wrapper.nonbounce.edit-profile-v2{'ng-class' => "profileForm.color.name"}

  %form.edit-form{name: 'editForm', 'data-unii-edit-profile-form' => true, 'ng-submit' => "submit()"}

    %unii-header.white
      .col.left.cross.icon{'ng-click' => "cancelEdit()"}
      .col.center {[= edit_profile_nav ]}
      .col.right
        %button.header-btn.icon{type: 'submit', 'ng-class' => "{'tick': !savingProfile}"}
          .black.spinner.edit-profile{'ng-show' => "savingProfile"}

    .pick-color-text {[= pick_color_field ]}
    .color-selections

      .flex-colors
        .color{'ng-repeat' => "color in formValues.colors", 'ng-click' => "setUserColor(color)"}
          .circle{'ng-style' => "{'background': color}", 'ng-class' => "{selected: color == profileForm.color.code}"}
            .tick{'ng-if' => "color == profileForm.color.code"}


    %section.profile-fields

      .attribute
        .col.field
          .input-icon.icon.user

        .col.value
          .item
            %input#name.name{type: 'text', name:'name', 'ng-model' => "profileForm.name", 'ng-change' => 'checkName()', 'ng-class'=>"{invalid: editForm.name.$dirty && editForm.name.$invalid || !profileForm.name}", 'required' => true, placeholder: "{[= name_field ]}", autocorrect: 'off'}
            .error-icon{'ng-show' => "(editForm.name.$dirty && editForm.name.$invalid) || (editForm.name.$error.length)"}

              %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

      .attribute
        .col.field
          .input-icon.icon.email

        .col.value
          .item
            %input{type: 'email', name:'email', 'ng-model' => "profileForm.email", disabled: true}
            .error-icon{'ng-show' => "editForm.email.$dirty && !editForm.email.$valid"}
              %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

      .attribute{'ng-click' => "view('meEditPassword')"}
        .col.field
          .input-icon.icon.lock

        .col.value{'ng-click' => "changing_password = !changing_password"}
          .item
            .chevron-icon.icon.chevron
            .password &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;

      .attribute{'ng-click' => "view('meEditCourse')"}
        .col.field
          .input-icon.icon.book

        .col.value
          .item
            .chevron-icon.icon.chevron
            %input.course{type: 'text', name: 'course', disabled: true, placeholder: "{[= course_field ]}", 'ng-class' => "{empty: !profileForm.course.name}", 'ng-model' => "profileForm.course.name"}

      .attribute
        .col.field
          .input-icon.icon.gender

        .col.value
          .item
            %select.gender-select{'ng-model' => 'profileForm.gender', 'ng-options' => "gender.value as gender.type for gender in formValues.genders"}

      .attribute
        .col.field
          .input-icon.icon.folder

        .col.value.bio
          .item.bio
            %textarea#bio-text{rows: 1, 'ng-keyup' => "autoGrowTextArea($event)", placeholder: "{[= bio_field_placeholder ]}", 'ng-model' => "profileForm.tagline", name: 'bio', 'ng-class' => "{empty: !profileForm.tagline}"}
            %span.characters{'ng-class' => "{red: remainingCharacters < 1}"} {{ remainingCharacters }}
            .border

