%no-internet{'fixed' => 'true', 'neutral' => 'false'}

%unii-header.white.fixed
  .col.left.cross.icon{'ng-click' => "cancel()"}
  .col.center {[= blocked_and_muted_nav ]}
  .col.right.icon{'ng-click' => "submit()", 'ng-class' => "{'tick': !savingProfile}"}
    .black.spinner.edit-profile{'ng-show' => "savingProfile"}

.restricted-page{'ng-class' => "::userSettings.color.name"}

  %section.restricted-users
    .title-bar {[= blocked_users_title ]}
    .user.loading{'ng-show' => "loadingUsers"}
      .spinner.white
    .user.empty{'ng-if' => "blockedEmpty"} {[= blocked_users_empty_body ]}
    .user{'ng-repeat' => "user in blockedUsers"}
      .col.avatar-col
        .avatar.small{'data-unii-avatar' => true, user: "::user"}
          .svg{ng_style: "{'fill': user.color}"}
            :plain
              <svg width="38" height="38" viewBox="0 0 106 106">
                <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
              </svg>
      .col.name{'ng-style' => "{'color': user.color}", 'data-unii-truncate-name' => "20", user: "user"}
      .col.action.icon.user-block{'ng-click' => "unblock(user)", 'ng-class' => "{selected: user.blockSelect}"}

  %section.restricted-users
    .title-bar {[= muted_users_title ]}
    .user.loading{'ng-show' => "loadingUsers"}
      .spinner.white
    .user.empty{'ng-if' => "mutedEmpty"} {[= muted_users_empty_body ]}
    .user{'ng-repeat' => "user in mutedUsers"}
      .col.avatar-col
        .avatar.small{'data-unii-avatar' => true, user: "::user"}
          .svg{ng_style: "{'fill': user.color}"}
            :plain
              <svg width="38" height="38" viewBox="0 0 106 106">
                <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
              </svg>
      .col.name{'ng-style' => "{'color': user.color}", 'data-unii-truncate-name' => "20", user: "user"}
      .col.action.icon.user-mute{'ng-click' => "unmute(user)", 'ng-class' => "{selected: user.muteSelect}"}

