
.profile-user-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(0,0,0,0.7);
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .slides-indicator{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    margin-left: -15px;
    z-index: 10;
    padding: 0;
    .dot{
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #484848;
      margin: 0;
      padding: 0;
    }
    .dot.active{
      background: white;
    }
  }
  .verified-icon{
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 12.5px;
    top: -42.5px;
    // background: red;
    background-size: 100%;
  }
  .name{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  .university-details{
    color: white;
    font-size: 11px;
    .at{
      font-weight: 300;
    }
  }
}
