.ui-desktop
  .page-bg
    .logo
      %img{src: "/images/unii-icons/misc/landing-page-logo.png", width: '100%' }
    .title
      {[= desktop_main_title ]}
    .subtext
      {[= desktop_secondary_text ]}

    %footer
      {[= desktop_copyright ]}
