.feed-page-wrapper{'ng-class' => "::userSettings.color.name"}
  .feed-page-loader
    .loading-feed{style: "text-align:center;padding-top: 150px;"}

      .spinner
        %img{src: "/images/unii-icons/misc/loading-spokes-white.svg", width: 30, style: "position:relative;left:-3px;"}


  .home-header{'data-unii-scroll-animations' => true, 'data-name' => "university.name_short"}
    
    %header#feed-header{'ng-class' => "{'hide-icon':hideElements, transitions: animatingElements}"}

      %no-internet{'neutral' => 'false'}

      .action-bar-wrapper
        .action-bar-flex
          .col.icon.db-activity{'ng-click' => "viewActivity()"}
            .new-notifications.uc-background{'ng-show' => "ui.new_notifications > 0"}
          .col.brand{}
            #we-are-at
              #university-nav{'ng-click' => "refreshFeed()"}
                %span#uni-name {{ university.name_short }}
              #whats-hot-nav{'ng-click'=>"selectCountry()"}
                {[= whats_hot_nav ]}
                #chevron
            #switching-feed
              #feed-dot.dot
              #whatshot-dot.dot
              #current-dot.dot
          .col.icon.db-profile{'ng-click' => "viewMe()"}

        .uploading-bar-flex{'ng-show' => 'creatingPost'}
          .col.text {[= posting_text ]}
          .col.media-progress
            .progress
              .progress-bar.uc-background
          .col.dismiss{'ng-click' => "cancelPost()"}

        .failed-upload-flex{'ng-show' => "postFailed"}
          .col.text Failed
          .col.media-progress
          .col.retry{'ng-click' => "resendPost()"}
            %img{src: "/images/unii-icons/misc/retry.png", width: 20}
          .col.dismiss{'ng-click' => "cancelPost()"}

        .saving-bar-flex{'ng-show' => "savingPost"}
          .col.text {[= sending_post_to_server ]}
          .col.spinner.black

  #fixed-header-viewport
    #draggable-viewport

      -# MAIN FEED
      .view-port-container.group{'infinite-scroll' => "paginateFeed()", 'infinite-scroll-distance' => '3', 'infinite-scroll-immediate-check' => 'false', 'infinite-scroll-disabled' => "loadingFeed || endFeed", 'ng-class' => '{"error-loading":errorLoadingFeed}'}

        .feed-wrapper{'ng-class' => "{'post-failed' : postFailed, 'no-internet' : noInternet && !dismissTimeout}"}

          #feed-posts.feed{'data-unii-feed' => true, feed: "feed", 'referrer' => "{{referrer}}"}

          .loading-feed{'ng-hide' => "feed.length", style: "text-align:center;padding-top: 150px;"}

            .spinner
              %img{src: "/images/unii-icons/misc/loading-spokes-white.svg", width: 30, style: "position:relative;left:-3px;"}


          .loading-posts{'ng-show' => "loadingPosts && feed.length && !noInternet"}
            .spinner.white

  %button.icon.db-compose{'ng-click' => "writePost()", 'ng-disabled' => "creatingPost || savingPost", 'ng-class' => "{'hide-icon':hideElements, transitions: animatingElements}"}

