.intro
  .bg.bg-1
  .bg.bg-2
  .bg.bg-3
  .bg.bg-4
  .content
    .shadow
      .logo
      .text-slider
        %ul#scrollable.slides{'data-unii-intro' => true}
          %li.slide.slide1
            {[= introduction_tour_page_1_title.replace(introduction_tour_page_1_title_sub_part, "<br/><span>"+introduction_tour_page_1_title_sub_part+"</span>") ]}
          %li.slide.slide2
            {[= introduction_tour_page_2_title.replace(introduction_tour_page_2_title_sub_part_1, "<span>"+introduction_tour_page_2_title_sub_part_1+"</span>").replace(introduction_tour_page_2_title_sub_part_2, "<span>"+introduction_tour_page_2_title_sub_part_2+"</span>") ]}
          %li.slide.slide3.downcase
            {[= introduction_tour_page_3_title.replace(introduction_tour_page_3_title_sub_part_1, "<span>"+introduction_tour_page_3_title_sub_part_1+"</span>").replace(introduction_tour_page_3_title_sub_part_2, "<span>"+introduction_tour_page_3_title_sub_part_2+"</span>") ]}
          %li.slide.slide4.downcase
            {[= introduction_tour_page_4_title.replace(introduction_tour_page_4_title_sub_part_1, "<span>"+introduction_tour_page_4_title_sub_part_1+"</span>").replace(introduction_tour_page_4_title_sub_part_2, "<span>"+introduction_tour_page_4_title_sub_part_2+"</span>") ]}

      .register
        %ul.slide-indicator
          %li.step-0.green{'ng-class' => "{'active':step == 0}"}
          %li.step-1.yellow{'ng-class' => "{'active':step == 1}"}
          %li.step-2.blue{'ng-class' => "{'active':step == 2}"}
          %li.step-3.red{'ng-class' => "{'active':step == 3}"}

        .button.upcase{'ng-class' => "{'green':step == 0, 'yellow':step == 1, 'blue':step == 2, 'red':step == 3}", 'ng-click' => "view('signUp')"} {[= signup_nav ]}
        .sign-in
          .sign-up-btn
            %span.text{'ng-click' => "view('signIn')"} {[= signin_nav ]}
            %span.right-arrow.ignore
