%no-internet{'fixed' => 'true', 'neutral' => 'false'}

%unii-header.white.fixed
  .col.left.cross.icon{'ng-click' => "goBack()"}
  .col.center {[= notifications_nav ]}
  .col.right

.notifications{'ng-class' => "::userSettings.color.name"}

  .loader{'ng-show' => 'loading'}
    .spinner.white

  .no-activity{'ng-if' => "no_notifications"}
    .graphic
      %img{src: "/images/unii-icons/misc/notifications-graphic.png", width: "80%"}
    .text
      .header {[= notifications_empty_title ]}
      .subtext {[= notifications_empty_body ]}

  .notification{'ng-repeat' => "notification in notifications.data", 'ng-click' => "notificationRedirect(notification.payload.post_id)", 'ng-class' => "{unviewed: !notification.is_viewed}"}
    .col.left
      .avatar.large{'data-unii-avatar' => true, user: "::notification.user"}
        .svg{ng_style: "{'fill': notification.user.color}"}
          :plain
            <svg width="52" height="52" viewBox="0 0 106 106">
              <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
            </svg>
    .col.right

      .content{'ng-if' => "::notification.type == 'FavouritePost'"}

        .text.name {[= notification_favourited_post_text.replace('%{name}', "<b>{{ ::notification.user.name }}</b>") ]}

        .details
          %span.icon.small-star
          %span.timestamp{'data-unii-card-timestamp' => true, object: "notification"}

      .content{'ng-if' => "::notification.type == 'FavouriteComment'"}

        .text.name {[= notification_favourited_comment_text.replace('%{name}', "<b>{{ ::notification.user.name }}</b>") ]}

        .details
          %span.icon.small-star
          %span.timestamp{'data-unii-card-timestamp' => true, object: "notification"}

      .content{'ng-if' => "::notification.type == 'CommentPost'"}

        .text.name {[= notification_commented_on_post_text.replace('%{name}', "<b>{{ ::notification.user.name }}</b>") ]}

        .details
          %span.icon.activity-comment
          %span.timestamp{'data-unii-card-timestamp' => true, object: "notification"}

      .content{'ng-if' => "::notification.type == 'PostReachedHotFeed'"}

        .text {[= notification_whatshot_text.replace('%{feedname}', "<b>{{ ::notification.user.name }}</b>") ]}

        .details
          -# Icon needs to be updated to the correct one for what's hot
          %span.icon.small-star
          %span.timestamp{'data-unii-card-timestamp' => true, object: "notification"}

