%no-internet{'fixed' => 'true', 'neutral' => 'false'}

.profile-wrapper{'ng-class' => "::profile.color.name"}
  .profile-box
    .slider-window

      %unii-header.absolute
        .col.left.icon.floating-back-arrow.fixed{'ng-click' => "goBack()"}
        .col.center
        .col.right
          .action-btn.change-picture.needsclick{'ng-click' => "add_media()", 'ng-if' => "current_user"}

      %ul.profile-slider{'data-unii-profile-avatar' => true, 'data-profile' => 'profile', 'data-loading' => 'avatar_loading', 'data-trigger' => 'trigger'}

        .avatar-loading{'ng-show' => "avatar_loading"}
          .spinner.white

        %li.cover-avatar{'ng-swipe-left' => "view_bio()"}
          .dummy
          .elem
            .empty-avatar-flex{'ng-if' => "!profile.avatar"}
              .avatar-item.needsclick{'ng-click' => "current_user ? add_media() : null"}
                .svg{ng_style: "{'fill': profile.color.code}"}
                  :plain
                    <svg width="52" height="52" viewBox="0 0 106 106">
                      <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
                    </svg>

        %li.cover-bio{'ng-swipe-right' => "view_avatar()", "in-view" => "bioInView($inview)"}
          .dummy
          .elem
            .bio-shader
              .bio-flex
                .item
                  .empty-bio{'ng-if' => "!profile.tagline && current_user"}
                    .text  
                      {[= profile_empty_bio_body ]}
                    .button.uc-background.upcase{'ng-click' => "view_edit()"}
                      {[= write_bio_nav ]}
                  
                  .bio{'ng-if' => "profile.tagline"}
                    .text
                      {{ ::profile.tagline }}

    .profile-user-details
    
      %p.name.uc-text {{ ::profile.first_name }} {{ ::profile.last_name }}
      %p.university-details
        {[= profile_studies_course_text.replace('%{course}', '{{ ::profile.course.name }}').replace('%{university}', '{{ ::profile.university.name }}') ]}

      %ul.slides-indicator{'ng-show' => "profile.tagline || current_user"}
        %li.dot{'ng-class' => "{'active':slide == 'avatar'}"}
        %li.dot{'ng-class' => "{'active':slide == 'bio'}"}



  .user-actions-bar

    .col{'ng-click' => "get_user_images()"}
      .icon.profile-photos

    .col{'ng-click' => "settingsMenu()"}
      .icon.profile-options


  %unii-thumb-slides{profile: "profile"}

  .view-port-container.profile-feed.group{'infinite-scroll' => "paginate_posts()", 'infinite-scroll-distance' => '1', 'ng-class' => "{'no-me-posts': !feed.length}", 'infinite-scroll-immediate-check' => 'false', 'infinite-scroll-disabled' => "loading_posts || end_posts"}

    -# no user posts
    .no-content-btn-section{'ng-hide' => 'feed.length', 'ng-cloak' => true, 'ng-if' => "current_user"}
      .text {[= first_post_nav ]}
      .icons
        .icon.sketch-arrow
        .icon.db-compose{'ng-click' => "write_post()"}

    .no-profile-posts{'ng-hide' => "feed.length", 'ng-if' => "!current_user"}

      .graphic
        %img{src: "/images/unii-icons/misc/face.png", width: 60}
      .title {[= profile_empty_feed_title ]}
      .subtext
        {[= profile_empty_feed_body.replace('%{name}', '{{ ::profile.first_name }} {{ ::profile.last_name }}') ]}

    .feed{'data-unii-feed' => true, feed: "feed", 'referrer' => "profile"}

    .loading-posts{'ng-show' => "loading_posts"}
      .spinner.white {[= end_pagination_posts_nav ]}



-# %nav{'data-unii-nav-bar' => true}
