@import "shared/variables";
@import "shared/colors";
@import "shared/components";

.compose-page{
  width: 100%;
  height: 100%;
  background: white;
  padding-top: 44px;
  overflow: auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  unii-header{
    .btn-col{
      text-align: right;
      padding-right: 15px;
    }
  }

  .poster-section{
    &.compose{
      height: 68px;
    }
  }



  textarea{
    border: 0;
    padding: 0 15px;
    margin: 0;
    outline: none;
    font-family: $font-regular;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    resize: none;

  }



  .attached-media-section{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 240px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-top: 4px;
    .media-object{
      position: relative;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      display: inline;
      margin-right: 20px;
      margin-top: 20px;

      .media-preview{
        canvas{
          width: 90px;
          height: 100%;
          border-radius: 2px;
        }
        video{
          max-width: 180px;
        }
      }
    }
  }

  .compose-actions{
    @include display_flex;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 2px solid $alt_lightgrey;
    border-bottom: 2px solid $alt_lightgrey;
    background-color: white;
    .col{
      width: 50%;
      height: 100%;
      @include flex_item(1,1, auto);
      background-size: auto 17px;
    }
  }
}
