
.post-controls-flex{'ng-class' => "{true: 'black', false: 'white'}[post.type == 'gallery']"}

  -# view who favourited the post
  .col.favourites
    %span{'ng-show' => "post.favourites_count", 'ng-click' => "viewPost(post.id, $index, {event: $event, referrer: referrer, state: 'favourites'})"}
      %span.count.small.upcase {[= favourites_nav ]}
      %span.count.small.bold
        {{ (post.favourites_count>=1000)?(post.favourites_count/1000).toFixed(0)+'K':(post.favourites_count) }}
  -# view post actions menu
  .col.actions{'ng-click' => "createMenu($event, $index)"}
    .dots.icon.post-menu{'ng-class' => "{true: 'black', false: 'white'}[post.type == 'gallery']"}

  -# view comments of post
  .col.comments{'ng-click' => "viewPost(post.id,  $index, {event: $event, referrer: referrer, state: 'comments'})"}
    %span.icon.comment{'ng-class' => "{true: 'black', false: 'white'}[post.type == 'gallery']"}
    %span.count.number
      {{ (post.comments_count>=1000)?(post.comments_count/1000).toFixed(0)+'K':(post.comments_count) }}

  -# favourite post
  .col.like{'data-unii-toggle-favourite-post' => true, post: "post", referrer: "{{referrer}}"}
    %span.icon.star{'ng-class' => "{favourited: post.user_favourited, status_update: post.type == 'status_update', gallery: post.type == 'gallery'}"}
    %span.count.number
      {{ (post.favourites_count>=1000)?(post.favourites_count/1000).toFixed(0)+'K':(post.favourites_count) }}
