.card{'ng-repeat' => 'post in feed track by post.id', id: "post_{{::post.id}}", 'ng-class'=>"userColor(post.user.color).name", 'ng-if'=>"::post.type!='invite'", "in-view" => "postInView({index: $index, inview: $inview})"}

  .card-header{'ng-click' => "viewPost(post.id,  $index, {referrer: referrer})", 'ng-if'=>"::post.type!='invite'"}
    %span.timestamp{'unii-card-timestamp' => true, object: "post"}
    .avatar-col
      #user-avatar.avatar.large{'data-unii-avatar' => true, user: "::post.user", referrer: "{{referrer}}", postId: "{{post.id}}"}
        .svg{ng_style: "{'fill': post.user.color}"}
          :plain
            <svg width="52" height="52" viewBox="0 0 106 106">
              <use xlink:href="/images/unii-icons/misc/avatar.svg#default-avatar"></use>
            </svg>
    .content-col
      %span.name{'ng-click' => "viewProfile(post.user.id, {event: $event, postId: post.id, referrer: referrer})", 'data-unii-truncate-name' => true, user: "post.user"}
      .text{'ng-hide' => "::post.type == 'status_update'", 'ng-bind-html' => "post.content | truncate:10:true"}
    .arrow-down

  .content{'ng-switch' => "::post.type"}

    -# Image
    .image.bg-dynamic{'ng-switch-when' => "image", 'data-unii-image' => true, image: "post.medias.data[0]", format: 'post', size: 'square', 'ng-click' => "viewPost(post.id,  $index, {referrer: referrer})"}
      .shadow
        .controls{'data-unii-card-controls' => true}

    -# Status update
    .status{'ng-switch-when' => "status_update", 'ng-click' => "viewPost(post.id,  $index, {referrer: referrer})"}
      .flex-status-text
        .flex-item{'ng-bind-html' => "::post.content | truncate:180:true"}

      .controls{'data-unii-card-controls' => true}

    -# Video
    .video{'ng-switch-when' => "video", 'data-unii-video' => true}
      .shadow
        %span.card-link{'ng-click' => "viewPost(post.id,  $index, {referrer: referrer})"}
          .linkable
        .controls{'data-unii-card-controls' => true}
    -# Gallery
    .gallery{'ng-switch-when' => "gallery"}
      .albums.bg-dynamic{'data-unii-album' => true, 'ng-class' => "{true: 'albums-9', false: 'albums-{{ post.medias.data.length}}'}[post.medias.data.length > 8]"}

        .image{'ng-repeat' => "image in ::post.medias.data | limitTo:9", class: "image-{{$index+1}}", 'ng-click' => "viewSlide(post.id, {index: $index, referrer: referrer})", 'ng-if' => "post.medias.data.length != 6"}
          .background-image
            .photo{'data-unii-image' => true, image: "image", format: 'post'}

        -# for 6 photos
        .top-section{'ng-if' => "::post.medias.length == 6"}

          .image{'ng-repeat' => "image in ::post.medias.data | limitTo:3 | orderBy:'-id'", class: "image-{{$index+1}}", 'ng-click' => "viewSlide(post.id, {index: $index, referrer: referrer})", }
            .background-image
              .photo{'data-unii-image' => true, image: "image", format: 'post'}

        .bottom-section{'ng-if' => "::post.medias.data.length == 6"}
          .image{'ng-repeat' => "image in ::post.medias.data | limitTo:-3 | orderBy:'-id'", class: "image-{{$index+4}}", 'ng-click' => "viewSlide(post.id, {index: $index+3, referrer: referrer})", }
            .background-image
              .photo{'data-unii-image' => true, image: "image", format: 'post'}

      .blurred-controls
        .blur-bg{'data-unii-image' => true, image: "post.medias.data[0]", format: "action_bar"}
        .controls.album-controls{'data-unii-card-controls' => true}

    -# Link
    .link{'ng-switch-when' => "link", 'data-unii-link' => true}

      %a.card-link{'ng-href' => "{{externalLink(post.medias.data[0].url)}}", target: "_blank"}

        .link-feed-flex{'ng-if' => "::post.medias.data[0].metadata"}
          .row.title
            {{ ::post.medias.data[0].metadata.payload.title | uppercase }}

          .row.summary{'data-unii-truncate' => "{content: '::post.medias.data[0].metadata.payload.summary', length: 50, expandable: false}"}

          .row.domain
            {{ ::post.medias.data[0].metadata.domain }}

        .link-feed-flex{'ng-if' => "::!post.medias.data[0].metadata"}
          .row.title.url
            {{ ::post.medias.data[0].url }}


      .controls{'data-unii-card-controls' => true}
