%svg#coachmarks{'data-name'=>"university.name_short", 'xmlns':"http://www.w3.org/2000/svg", 'version':"1.1"}
  %path#path{'fill': "rgba(0,0,0,0.7)", 'ng-attr-d'=>"{{path}}", 'fill-rule': "evenodd", 'stroke-width':"{{circleStroke}}", 'stroke':"{{userSettings.color.code}}"}

%div#coachmarks-text{'ng-bind-html'=> "textBody"}

