%form.signin-form{name: 'SupportForm'}

  .field
    .input-container
      %input#name{type: "text", 'ng-model' => 'form.name', placeholder: 'Name', required: true, name: 'uName', 'ng-pattern' => "name_regex"}
      .valid-icon.icon{'ng-show' => "SupportForm.uName.$valid"}
        %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
      .error-icon.icon{'ng-show' => "SupportForm.uName.$dirty && !SupportForm.uName.$valid"}
        %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

  .field
    .input-container
      %input#email{type: "email", 'ng-model' => 'form.email', placeholder: 'Email', required: true, name: 'uEmail', 'ng-pattern' => "email_regex"}
      .valid-icon.icon{'ng-show' => "SupportForm.uEmail.$valid"}
        %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
      .error-icon.icon{'ng-show' => "SupportForm.uEmail.$dirty && !SupportForm.uEmail.$valid"}
        %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

  .field
    .input-container.message-container
      %textarea.support-textarea{'ng-model' => 'form.message', placeholder: 'Message', required: true, rows: 5, name: 'uMessage'}
      .valid-icon.icon{'ng-show' => "SupportForm.uMessage.$valid"}
        %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
      .error-icon.icon{'ng-show' => "SupportForm.uMessage.$dirty && !SupportForm.uMessage.$valid"}
        %img{src: 'unii-icons/misc/input-error.png', width: 20}

  .field.btn-field
    .sign-in-btn-holder
      %button.button.uc-background{'ng-click' => "submit_form()", type: 'submit'}
        %span.text.upcase{'ng-hide' => "ui.sending_form"} {[= send_nav ]}
        %span.loader{'ng-show' => "ui.sending_form"}
          %img{src: "/images/unii-icons/misc/loading-spokes-black.svg", width: 20}