
#mobile-menu.settings-modal

  #overlay
  #menu-options{'ng-class' => "type"}
    %ul.options
      %li{'ng-repeat' => "option in options", 'ng-click' => "option.handler()", 'ng-class'=>"{'has-text-{{highlight}}': option.highlight}"}
        %span {{ option.label }}
      %li.separator{'ng-if'=> "showCancel"}
      %li.cancel-btn{'ng-if'=> "showCancel", 'ng-click' => "close()"} {[= cancel_nav ]}

