.box
  .top
    .text
      .title{'ng-hide' => "ui.sending_form || ui.request_sent || ui.request_sending"} {{title}}
      .message{'ng-if' => "message && !ui.sending_form"} "{{message}}"
      .spinner{'ng-show' => "ui.sending_form || ui.request_sending"}
        %img{src: "/images/unii-icons/misc/loading-spokes-black.svg", width: 20}
      .title{'ng-show' => "ui.request_sending"} {[= sending_nav ]}
      .check{'ng-show' => "ui.request_sent", 'ng-click' => "closeModal()"}
        %img{src: "/images/unii-icons/misc/pre-unii/check.png", width: 30}
      .title{'ng-show' => "ui.request_sent"} {[= sent_nav ]}

  .actions{'ng-hide' => "ui.sending_form || ui.request_sent || ui.request_sending"}
    .btn.reset-btn.left-btn{'ng-click' => 'closeModal()', 'ng-show' => "text.dismiss"} {{ text.dismiss }}
    .btn.reset-btn{'ng-click' => 'actionBtn()', 'ng-show' => "text.action"} {{ text.action }}
