.no-internet-wrapper{'ng-show' => "$parent.noInternet && !$parent.dismissTimeout"}
  .no-internet-flex
    .col.text
      .text-item {[= no_internet_connection_error_body ]}
    .col.dismiss{'ng-click' => "dismiss_timeout()"}
      %img{src: '/images/unii-icons/misc/delete-item.png', width: 22}
