.row{'ng-click' => "toggle_mute_user($event, post)", 'ng-if' => "(post.user.id != userSettings.id)", 'ng-hide' => "working(post)"} {{ ::mutedState }}

.row{'ng-click' => "report_post(post, $event)", 'ng-if' => "post.user.id != userSettings.id", 'ng-hide' => "working(post)"}
  .text {[= report_nav ]}

.row{'ng-click' => "delete_post(post, {referrer: referrer, event: $event})", 'ng-if' => "post.user.id == userSettings.id", 'ng-hide' => "working(post)"}
  .text.delete{'ng-hide' => "deleting_{{post.id}}"} {[= delete_nav ]}

.row.spinner-row{'ng-if' => "working(post)"}
  .spinner.black.post-action
