.errors
  .server-errors{'ng-messages' => "signup.errors", 'ng-messages-multiple' => true}
    .error{'ng-message' => "email_has_already_been_taken"}
      {[= email_has_already_been_taken_error_body ]}
    .error{'ng-message' => "email_cant_be_blank"}
      {[= email_cant_be_blank_error_body ]}
    .error{'ng-message' => "password_cant_be_blank"}
      {[= password_cant_be_blank_error_body ]}
    .error{'ng-message' => "name_cant_be_blank", }
      %span{'ng-if' => "SignUpForm.uName.$error.length"} {[= name_cant_be_blank_error_body ]}
      %span{'ng-if' => "SignUpForm.uName.$error.lastname"} {[= name_incomplete_error_body ]}
    .error{'ng-message' => "name_is_too_long"}
      {[= name_is_too_long_error_body ]}
    .error{'ng-message' => "first_name_is_too_long"}
      {[= first_name_is_too_long_error_body ]}
    .error{'ng-message' => "email_is_not_a_valid_university_email"}
      {[= email_is_not_a_valid_university_email_error_body ]}
    .error{'ng-message' => "email_is_too_long"}
      {[= email_is_too_long_error_body ]}
    .error{'ng-message' => "password_is_too_short"}
      {[= password_is_too_short_error_body ]}
    .error{'ng-message' => "server_error_body"}
      {[= generic_server_error_body ]}
    .error{'ng-message' => "form_invalid_error_body"}
      {[= form_incomplete_error_body ]}

%form.signin-form.signup-form{name: 'SignUpForm', 'ng-submit' => 'submit()'}
  .field
    .input-container

      %input#name.name.value{type: "text", 'ng-model' => 'signup.form.name', placeholder: "{[= full_name_field ]}", required: true, name: 'uName', 'ng-pattern' => "name_regex", 'ng-change' => 'checkName()', autocorrect: 'off'}
      .valid-icon{'ng-show' => "!SignUpForm.uName.$invalid"}
        %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
      .error-icon{'ng-show' => "SignUpForm.uName.$dirty && SignUpForm.uName.$invalid"}
        %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

      .ng-messages{'ng-messages' => "SignUpForm.uName.$error"}
        .error-info{'ng-message' => "length"} {[= invalid_name_length_error_body ]}
        .error-info{'ng-message' => "pattern"} {[= only_standard_characters ]}
        .error-info{'ng-message' => "lastname"} {[= name_incomplete_error_body ]}

  .field
    .input-container
      %input#email{type: "email", 'ng-model' => 'signup.form.email', placeholder: "{[= email_field ]}", required: true, name: 'uEmail', 'ng-pattern' => "email_regex", 'ng-keyup' => "promoUni(signup.form.email)", 'ng-maxlength' => 255}
      .valid-icon{'ng-show' => "SignUpForm.uEmail.$valid"}
        %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
      .error-icon{'ng-show' => "SignUpForm.uEmail.$dirty && !SignUpForm.uEmail.$valid"}
        %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

  .field
    .input-container
      %input#password{type: "password", 'ng-model' => 'signup.form.password', placeholder: "{[= password_field ]}", required: true, name: 'uPassword', maxlength: "128"}
      .valid-icon{'ng-show' => "!SignUpForm.uPassword.$invalid && SignUpForm.uPassword.$viewValue.length > 7"}
        %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
      .error-icon{'ng-show' => "SignUpForm.uPassword.$dirty && (SignUpForm.uPassword.$viewValue.length < 8 || SignUpForm.uPassword.$invalid)"}
        %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

  .field{'ng-show' => "showPromoField"}
    .input-container
      %input#promo{type: "text", 'ng-model' => 'signup.form.promo_code', placeholder: "{[= promo_field_placeholder ]}", name: 'uPromo'}

  .field.btn-field
    .sign-in-btn-holder
      %button.button{'type' => 'submit', 'ng-disabled'=> "!SignUpForm.$dirty"}
        %span.text.upcase{'ng-hide' => "registering"} {[= signup_nav ]}
        %span.loader{'ng-show' => "registering"}
          %img{src: "/images/unii-icons/misc/loading-spokes-black.svg", width: 20}
