.errors
  .server-errors{'ng-messages' => "signin_form.errors", 'ng-messages-multiple' => true}
    .error{'ng-message' => "oauth_credentials:are_invalid"}
      {[= oauth_credentials_are_invalid_error_body ]}
    .error{'ng-message' => "user_credentials:are_invalid"}
      {[= user_credentials_are_invalid_error_body ]}
    .error{'ng-message' => "server_error_body"}
      {[= generic_server_error_body ]}

%form.signin-form{name: 'SignInForm', 'ng-submit' => "submit()"}

  .field
    .input-container
      %input#email{type: "email", 'ng-model' => 'signin_form.email', placeholder: "{[= email_field ]}", required: true}

  .field
    .input-container
      %input#password{type: "password", 'ng-model' => 'signin_form.password', placeholder: "{[= password_field ]}", required: true}


  .forgot-password

    .text
      %span{'ng-click' => "open_forgot_modal()"} {[= forgot_text ]}


  .field.btn-field
    .sign-in-btn-holder
      %button.button{type: 'submit'}
        %span.text.upcase{'ng-hide' => "ui.signing_in"} {[= signin_nav ]}
        %span.loader{'ng-show' => "ui.signing_in"}
          %img{src: "/images/unii-icons/misc/loading-spokes-black.svg", width: 20}
