.thumbslide-wrapper{'ng-show' => "show_slider"}
  .next-box.uc-gradient{'ng-class' => "{show_chevron: chevron}"}
    .next-chevron

  .side-scroller
    .thumb-slides
      .thumb-slide.image-thumb{'ng-repeat' => "image in images", 'data-unii-image' => true, image: "image", size: 'square', format: 'grid', 'ng-click' => "view_slide($index)"}
