<!doctype html>
<html class="no-js" ng-app="Unii" ng-controller="MainCtrl as main">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->

    <!-- include: "type": "css", "files": "styles/**/*.css" -->

    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" minimal-ui="" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="{{ userSettings.color.code }}" name="theme-color">
    <link href="images/unii-icon.png" rel="icon" sizes="140x140">
    <link href="images/unii-icon.png" rel="apple-touch-icon" sizes="140x140">
    <link href="images/splash-640x920.png" rel="apple-touch-startup-image" sizes="640x920">
    <link href="images/splash-640x1096.png" rel="apple-touch-startup-image" sizes="640x1096">
  </head>
  <body>
    <div class="fix-orientation"></div>


    <div class="ui-phone" ng-class="current_controller">
      <div id="home-container">
        <loading ng-if="ui.view_loading && ui.signedIn">
          <div class="white spinner bar"></div>
          <div class="loading-text">Loading...</div>
        </loading>

        <unii-modal ng-show="showModal && ui.signedIn"></unii-modal>
        <section id="view-port" class="ng-view"></section>

      </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-37727096-13', 'auto');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <!-- endbower -->
    <!-- endbuild -->

    <!-- include: "type": "js", "files": "vendor/*.js" -->
    <!-- include: "type": "js", "files": "scripts/**/*.js" -->


    <script type="text/javascript">
      I18n.defaultLocale = "en";
      I18n.locale = navigator.language;
    </script>

    <script>
      function hideKeyboard(element) {
        element.attr('readonly', 'readonly');
        element.attr('disabled', 'true');
        setTimeout(function() {
          element.blur();
          element.removeAttr('readonly');
          element.removeAttr('disabled');
        }, 100);
      }

      function toggleHideScreen() {
        if (window.orientation !== undefined && window.orientation !== 0) {
          hideKeyboard($('input, textarea'));
          $('.fix-orientation').addClass('landscape');
        } else {
          $('.fix-orientation').removeClass('landscape');
        }
      }

      toggleHideScreen();

      $(window).on("orientationchange", toggleHideScreen);
    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("da8e80c36d6673714a80d3dd3ad1af20");</script>
  <!-- end Mixpanel -->
</body>
</html>
