%no-internet{'fixed' => 'true', 'neutral' => 'true'}

.bg-scroller
.bg-shader.nonbounce
  .auth-wrapper

    .logo
      %img{src: "/images/unii-icons/misc/unii-logo-white.png", width: "125"}

    %sign-in-form

    .or
      .text.upcase {[= or_connector ]}

    .sign-in{'ng-click' => "view('signUp')"}
      .sign-up-btn
        %span.left-arrow
        %span.move-left {[= signup_nav ]}

.forgot-password-modal{'ng-show' => "forgot_password"}
  .forgot-box{'ng-show' => 'reseting_password'}
    .top
      .text
        .title {[= sending_nav ]}
        .spinner
          %img{src: "/images/unii-icons/misc/ajax-loader-bar.gif", width: 60}

  .forgot-box{'ng-show' => "request_sent"}
    .top
      .text
        .title {{reset_message}}

    .actions
      .close-btn{'ng-click' => "forgot_password = false"} {[= close_nav ]}

  .forgot-box{'ng-hide' => "request_sent || reseting_password"}
    .top
      .text
        .title {[= password_reset_title ]}
      .input

        %form{name: 'ResetPasswordForm', 'ng-submit' => "reset_password()"}
          %input#forgot-email{type: 'email', placeholder: "{[= email_field ]}", 'ng-model' => "forgot_email", 'ng-pattern' => "email_regex"}
          .error{'ng-show' => "error"} {[= email_is_not_a_valid_university_email_error_body ]}

    .actions
      .cancel-btn.btn{'ng-click' => "forgot_password = false"} {[= cancel_nav ]}
      .reset-btn.btn{'ng-click' => "reset_password()"} {[= send_nav ]}
