%no-internet{'fixed' => 'true', 'neutral' => 'true'}

.bg-scroller
.bg-shader.nonbounce
  .auth-wrapper
    .logo
      %img{src: "/images/unii-icons/misc/unii-logo-white.png", width: "125"}

    %sign-up-form

    .or
      .text.upcase {[= or_connector ]}

    .sign-in{'ng-click' => "view('signIn')"}
      .sign-up-btn
        %span.move-right {[= signin_nav ]}
        %span.right-arrow

    .terms
      .text
        {[= agreements_body.replace('%{value1}', "<a href='#/eula'>"+terms_nav+"</a>").replace('%{value2}', "<a href='#/privacy'>"+policy_nav+"</a>") ]}
