%header.unii-header
  .unii-header-44
    .action-col
      %a{'ng-click' => "editing=false", 'ng-show' => 'editing'}
        .action-btn.cancel-white

.verify-wrapper{'ng-class' => "::userSettings.color.name"}
  .verify-graphic
    %img{src: "/images/unii-icons/misc/pre-unii/verify.png", width: "80%"}

  .text{'ng-hide' => 'editing'}
    %h1.header {[= verification_wall_title ]}
    %p.subtext {[= verification_wall_description ]}
    %p.subtext
      {[= verification_wall_email_description ]}
      %span.email {{ profile.email }}
      %a{'ng-click' => 'editing=true'} {[= verification_wall_edit_nav ]}
    %button.button.verify-btn.upcase{'ng-click' => "resend_confirmation_email()"} Resend email
    %p.subtext.switch-acct{'ng-click' => "signOut()"} {[= switch_accounts_nav ]}

  .text{'ng-show' => 'editing'}
    %h1.header {[= verification_wall_update_title ]}
    .errors
      .server-errors
        .error{'ng-repeat' => 'error in errors'}
          {{error}}

    %form{name: 'editEmailForm', 'ng-submit' => "resend_confirmation_email()"}
      .field
        .input-container
          %input#email{type: "email", 'ng-model' => 'email', placeholder: "{[= email_field ]}", required: true, name: 'email', 'ng-pattern' => "email_regex"}
          .valid-icon{'ng-show' => "editEmailForm.email.$valid"}
            %img{src: '/images/unii-icons/misc/input-valid.png', width: 20}
          .error-icon{'ng-show' => "editEmailForm.email.$dirty && !editEmailForm.email.$valid"}
            %img{src: '/images/unii-icons/misc/input-error.png', width: 20}

